{%- liquid
  assign style = block.settings.style
-%}

{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'collapsible-content.css' | asset_url | stylesheet_tag }}
<div class="collapsible__wrapper">
  {%- if block.settings.heading1 != blank -%}
    <div
      class="accordion accordion__style--{{ block.settings.accordions_style }}{% if block.settings.secondary_bg_accordions %} accordion__bg_secondary{% endif %}"
      {%- render 'animation', enable_animations: enable_animations, animation: animation -%}
    >
      <details
        id="Details-1-{{ section.id }}"
        {% if block.settings.open_first_collapsible_row %}
          open
        {% endif %}
      >
        <summary id="Summary-1-{{ section.id }}">
          {% render 'icon-accordion', icon: block.settings.icon1 %}
          <h3 class="accordion__title h4">
            {{ block.settings.heading1 }}
          </h3>
          {% render 'icon-caret', behavior: settings.collapsible_icon %}
        </summary>
        <div
          class="accordion__content rte"
          id="CollapsibleAccordion-1-{{ section.id }}"
          role="region"
          aria-labelledby="Summary-1-{{ section.id }}"
        >
          {%- if block.settings.show_description -%}
            {{- product.description -}}
          {%- else -%}
            {{- block.settings.text1 -}}
          {%- endif -%}
        </div>
      </details>
    </div>
  {%- endif -%}

  {%- if block.settings.heading2 != blank -%}
    <div
      class="accordion accordion__style--{{ block.settings.accordions_style }}{% if block.settings.secondary_bg_accordions %} accordion__bg_secondary{% endif %}"
      {%- render 'animation', enable_animations: enable_animations, animation: animation -%}
    >
      <details id="Details-2-{{ section.id }}">
        <summary id="Summary-2-{{ section.id }}">
          {% render 'icon-accordion', icon: block.settings.icon2 %}
          <h3 class="accordion__title h4">
            {{ block.settings.heading2 }}
          </h3>
          {% render 'icon-caret', behavior: settings.collapsible_icon %}
        </summary>
        <div
          class="accordion__content rte"
          id="CollapsibleAccordion-2-{{ section.id }}"
          role="region"
          aria-labelledby="Summary-2-{{ section.id }}"
        >
          {{ block.settings.text2 }}
        </div>
      </details>
    </div>
  {%- endif -%}

  {%- if block.settings.heading3 != blank -%}
    <div
      class="accordion accordion__style--{{ block.settings.accordions_style }}{% if block.settings.secondary_bg_accordions %} accordion__bg_secondary{% endif %}"
      {%- render 'animation', enable_animations: enable_animations, animation: animation -%}
    >
      <details id="Details-3-{{ section.id }}">
        <summary id="Summary-3-{{ section.id }}">
          {% render 'icon-accordion', icon: block.settings.icon3 %}
          <h3 class="accordion__title h4">
            {{ block.settings.heading3 }}
          </h3>
          {% render 'icon-caret', behavior: settings.collapsible_icon %}
        </summary>
        <div
          class="accordion__content rte"
          id="CollapsibleAccordion-3-{{ section.id }}"
          role="region"
          aria-labelledby="Summary-3-{{ section.id }}"
        >
          {{ block.settings.text3 }}
        </div>
      </details>
    </div>
  {%- endif -%}
  
  {%- if block.settings.heading4 != blank -%}
    <div
      class="accordion accordion__style--{{ block.settings.accordions_style }}{% if block.settings.secondary_bg_accordions %} accordion__bg_secondary{% endif %}"
      {%- render 'animation', enable_animations: enable_animations, animation: animation -%}
    >
      <details id="Details-4-{{ section.id }}">
        <summary id="Summary-4-{{ section.id }}">
          {% render 'icon-accordion', icon: block.settings.icon4 %}
          <h3 class="accordion__title h4">
            {{ block.settings.heading4 }}
          </h3>
          {% render 'icon-caret', behavior: settings.collapsible_icon %}
        </summary>
        <div
          class="accordion__content rte"
          id="CollapsibleAccordion-4-{{ section.id }}"
          role="region"
          aria-labelledby="Summary-4-{{ section.id }}"
        >
          {{ block.settings.text4 }}
        </div>
      </details>
    </div>
  {%- endif -%}
</div>
