{%- liquid
  assign icons_style = block.settings.icons_style
  assign icons_align_desktop = section.settings.desktop_content_alignment
  assign icons_align_mobile = section.settings.mobile_content_alignment


  if icons_style == 'grid'
    assign width_height_custom_icon = 36
  else
    assign width_height_custom_icon = 20
  endif
  assign width_height_custom_image = width_height_custom_icon | times: 2

  assign itemCount = 0
  if block.settings.icon_1_text != blank
    assign itemCount = itemCount | plus: 1
  endif
  if block.settings.icon_2_text != blank
    assign itemCount = itemCount | plus: 1
  endif
  if block.settings.icon_3_text != blank
    assign itemCount = itemCount | plus: 1
  endif
  if block.settings.icon_4_text != blank
    assign itemCount = itemCount | plus: 1
  endif

  assign show_shipping = false
  if block.settings.show_shipping_delay
    assign show_shipping = true
    assign ship_min = block.settings.ship_min
    assign ship_max = block.settings.ship_max
    assign ship_weekend = block.settings.ship_weekend
  endif
-%}

{%- if block.settings.icon_1_custom_icon != blank
  or block.settings.icon_2_custom_icon != blank
  or block.settings.icon_3_custom_icon != blank
  or block.settings.icon_4_custom_icon != blank
-%}
  {%- style -%}
    .icon__custom-icon {
      width: {{ width_height_custom_icon }}px;
      height: {{ width_height_custom_icon }}px;
    }
  {%- endstyle -%}
{%- endif -%}

<div
  class="
    block-icons
    block-icons--{{ icons_style }}
    block-icons__fill--{{ block.settings.fill_color }}
    with-{{ itemCount }}-item
    {% if block.settings.bg_color_icons %}block-icons--colored-icons{% endif %}
    {% if block.settings.fill_fade_background %}block-icons--fade-background{%- endif -%}
  "
>
  {%- if block.settings.icon_1_text != blank or block.settings.icon_1_description != blank -%}
    <{%- if block.settings.icon_1_url != blank -%}a href="{{ block.settings.icon_1_url }}"{%- else -%}div{% endif %}
      class="block-icons--item image-with-text__icons--desktop-{{ icons_align_desktop }} image-with-text__icons--mobile-{{ icons_align_mobile }} {% if icons_style == 'grid' %}block-icons--grid{% endif %}"
      {%- render 'animation', enable_animations: enable_animations, animation: animation -%}
    >
      <div class="block-icons--icon{% if block.settings.bg_color_icons %} block-icons--bg_color_icon{% endif %}">
        {%- if block.settings.icon_1_custom_icon != blank -%}
          {{
            block.settings.icon_1_custom_icon
            | image_url: width: width_height_custom_image
            | image_tag: loading: 'lazy', class: 'icon__icon icon__custom-icon'
          }}
        {%- else -%}
          {% render 'icons', icon: block.settings.icon_1_icon_type, width: width_height_custom_icon %}
        {%- endif -%}
      </div>
      
      {%- if block.settings.icon_1_text != blank -%}
        <p class="icon__text">{{ block.settings.icon_1_text }}</p>
      {%- endif -%}
      {%- if block.settings.icon_1_description != blank -%}
        <p class="icon__description">{{ block.settings.icon_1_description }}</p>
      {%- endif -%}
    </{%- if block.settings.icon_1_url != blank -%}a{%- else -%}div{% endif %}>
  {%- endif -%}

  {%- if block.settings.icon_2_text != blank or block.settings.icon_2_description != blank -%}
    <{%- if block.settings.icon_2_url != blank -%}a href="{{ block.settings.icon_2_url }}"{%- else -%}div{% endif %}
      class="block-icons--item image-with-text__icons--desktop-{{ icons_align_desktop }} image-with-text__icons--mobile-{{ icons_align_mobile }} {% if icons_style == 'grid' %}block-icons--grid{% endif %}"
      {%- render 'animation', enable_animations: enable_animations, animation: animation -%}
    >
      <div class="block-icons--icon{% if block.settings.bg_color_icons %} block-icons--bg_color_icon{% endif %}">
        {%- if block.settings.icon_2_custom_icon != blank -%}
          {{
            block.settings.icon_2_custom_icon
            | image_url: width: width_height_custom_image
            | image_tag: loading: 'lazy', class: 'icon__icon icon__custom-icon'
          }}
        {%- else -%}
          {% render 'icons', icon: block.settings.icon_2_icon_type, width: width_height_custom_icon %}
        {%- endif -%}
      </div>
    
      {%- if block.settings.icon_2_text != blank -%}
        <p class="icon__text">{{ block.settings.icon_2_text }}</p>
      {%- endif -%}
      {%- if block.settings.icon_2_description != blank -%}
        <p class="icon__description">{{ block.settings.icon_2_description }}</p>
      {%- endif -%}
    </{%- if block.settings.icon_2_url != blank -%}a{%- else -%}div{% endif %}>
  {%- endif -%}

  {%- if block.settings.icon_3_text != blank or block.settings.icon_3_description != blank -%}
    <{%- if block.settings.icon_3_url != blank -%}a href="{{ block.settings.icon_3_url }}"{%- else -%}div{% endif %}
      class="block-icons--item image-with-text__icons--desktop-{{ icons_align_desktop }} image-with-text__icons--mobile-{{ icons_align_mobile }} {% if icons_style == 'grid' %}block-icons--grid{% endif %}"
      {%- render 'animation', enable_animations: enable_animations, animation: animation -%}
    >
      <div class="block-icons--icon{% if block.settings.bg_color_icons %} block-icons--bg_color_icon{% endif %}">
        {%- if block.settings.icon_3_custom_icon != blank -%}
          {{
            block.settings.icon_3_custom_icon
            | image_url: width: width_height_custom_image
            | image_tag: loading: 'lazy', class: 'icon__icon icon__custom-icon'
          }}
        {%- else -%}
          {% render 'icons', icon: block.settings.icon_3_icon_type, width: width_height_custom_icon %}
        {%- endif -%}
      </div>
      
      {%- if block.settings.icon_3_text != blank -%}
        <p class="icon__text">{{ block.settings.icon_3_text }}</p>
      {%- endif -%}
      {%- if block.settings.icon_3_description != blank -%}
        <p class="icon__description">{{ block.settings.icon_3_description }}</p>
      {%- endif -%}
    </{%- if block.settings.icon_3_url != blank -%}a{%- else -%}div{% endif %}>
  {%- endif -%}

  {%- if block.settings.icon_4_text != blank -%}
    <{%- if block.settings.icon_4_url != blank -%}a href="{{ block.settings.icon_4_url }}"{%- else -%}div{% endif %}
      class="block-icons--item{% if show_shipping %} block-icons--item-with-shipping-delay{% endif %} image-with-text__icons--desktop-{{ icons_align_desktop }} image-with-text__icons--mobile-{{ icons_align_mobile }} {% if icons_style == 'grid' %}block-icons--grid{% endif %}"
      {%- render 'animation', enable_animations: enable_animations, animation: animation -%}
    >
      <div class="block-icons--icon{% if block.settings.bg_color_icons %} block-icons--bg_color_icon{% endif %}">
        {%- if block.settings.icon_4_custom_icon != blank -%}
          {{
            block.settings.icon_4_custom_icon
            | image_url: width: width_height_custom_image
            | image_tag: loading: 'lazy', class: 'icon__icon icon__custom-icon'
          }}
        {%- else -%}
          {% render 'icons', icon: block.settings.icon_4_icon_type, width: width_height_custom_icon %}
        {%- endif -%}
      </div>
      
      {%- assign minDelay = '<span class="minDelayShipping">...</span>' -%}
      {%- assign maxDelay = '<span class="maxDelayShipping">...</span>' -%}
      {%- if block.settings.icon_4_text != blank -%}
        <p class="icon__text{% if show_shipping %} icon__text-with-shipping-delay{% endif %} ship_min{{ ship_min }}">
          {{ block.settings.icon_4_text | replace: '$min', minDelay | replace: '$max', maxDelay }}
        </p>
      {%- endif -%}
      {%- if block.settings.icon_4_description != blank -%}
        <p class="icon__description">{{ block.settings.icon_4_description }}</p>
      {%- endif -%}
      {%- if show_shipping -%}
        {%- render 'script' with 'date' -%}
        <script>
          function showShippingDelay() {
            const textMins = document.querySelectorAll('.minDelayShipping');
            const textMaxs = document.querySelectorAll('.maxDelayShipping');
            let startDate = Date.today().addDays({{ ship_min }});
            {%- unless ship_weekend -%}
              if (startDate.is().saturday() || startDate.is().sunday()) {
                startDate = startDate.next().monday();
              };
            {%- endunless -%}
            let endDate = Date.today().addDays({{ ship_max }});
            {%- unless ship_weekend -%}
              if (endDate.is().saturday() || endDate.is().sunday()) {
                endDate = endDate.next().monday();
              };
            {%- endunless -%}
            textMins.forEach(textMin => textMin.textContent = startDate.toString('{{ block.settings.format }}'));
            textMaxs.forEach(textMax => textMax.textContent = endDate.toString('{{ block.settings.format }}'));
          }
          showShippingDelay();
          document.addEventListener('shopify:section:load', () => { showShippingDelay(); });
          document.addEventListener('shopify:section:unload', () => { showShippingDelay(); });
          document.addEventListener('shopify:block:select', () => { showShippingDelay(); });
          document.addEventListener('shopify:block:deselect', () => { showShippingDelay(); });
        </script>
      {%- endif -%}
    </{%- if block.settings.icon_4_url != blank -%}a{%- else -%}div{% endif %}>
  {%- endif -%}
</div>
