{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - article: {Object} Article object
  - card_style: {String} Card style
  - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
  - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
  - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
  - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default
  - show_excerpt: {String} The setting either show the article excerpt or not. If it's not included it will not show the excerpt by default
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

  Usage:
  {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

{%- if article and article != empty -%}
  {%- liquid
    assign ratio = 1
    if media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif media_aspect_ratio == 'landscape'
      assign ratio = 1.4
    elsif media_aspect_ratio == 'adapt'
      assign ratio = article.image.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}

  <div
    class="
      card card--article card__style--{{ card_style }} card__alignment--{{ settings.blog_card_text_alignment }}
      {% if settings.blog_card_hover_line %} card--article-hover-line {% endif %}
      {% if settings.blog_card_hover_zoom %} card--article-hover-zoom {% endif %}
    "
  >
    <a href="{{ article.url }}" class="card__product-link">
      {%- if article.image and show_image -%}
        <div
          class="card__media{% if card_style == "standard" %} global-media-settings{% endif %} media media--image"
          style="padding-bottom: {{ 1 | divided_by: ratio | times: 100 }}%;"
        >
          <img
            srcset="
              {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if article.image.src.width >= 940 -%}{{ article.image.src | image_url: width: 940 }} 940w,{%- endif -%}
              {%- if article.image.src.width >= 1066 -%}{{ article.image.src | image_url: width: 1066 }} 1066w,{%- endif -%}
              {{ article.image.src | image_url }} {{ article.image.src.width }}w
            "
            src="{{ article.image.src | image_url: width: 533 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
            alt="{{ article.image.src.alt | escape }}"
            class="motion-reduce"
            loading="lazy"
            width="{{ article.image.width }}"
            height="{{ article.image.height }}"
          >
        </div>
      {%- endif -%}

      <div class="card__content">
        <div class="card__article-informations{% if show_date %} with_date{% endif %}">
          <div class="card__article-link--heading">
            <h3 class="card__article-heading{% if settings.blog_card_limit_2_lines %} heading--2-lines{% endif %}">
              {{ article.title }}
            </h3>
            {%- if show_author -%}
              <p class="card__article-author">{{ article.author }}</p>
            {%- endif -%}
          </div>
          {%- if show_date -%}
            <p class="card__article-date">{{ article.published_at | time_tag: '%d/%m/%y' }}</p>
          {%- endif -%}
        </div>
        {%- if show_excerpt and article.excerpt.size > 0 or article.content.size > 0 -%}
          <p class="article-card__excerpt">
            {%- if article.excerpt.size > 0 -%}
              {{ article.excerpt | strip_html | truncatewords: 30 }}
            {%- else -%}
              {{ article.content | strip_html | truncatewords: 30 }}
            {%- endif -%}
          </p>
        {%- endif -%}
      </div>
    </a>
  </div>
{%- endif -%}
