{%- liquid
  assign sectionId = section.id | remove: '-'
-%}

{%- # ════════════════════════════════════════════════════════════════════════ -%}
{%- # region(collapsed) Styles -%}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_sm }}px;
    padding-bottom: {{ section.settings.padding_bottom_sm }}px;
  }

  .announcement-bar-section {
    z-index: 999999;
    {% if section.settings.sticky_announcement %}
      position: sticky;
      top: 0px;
      width: 100%;
    {% endif %}
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{%- # endregion ══════════════════════════════════════════════════════════════ -%}

{%- # ════════════════════════════════════════════════════════════════════════ -%}
{%- # region(collapsed) Markup -%}
<div class="announcements">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'announcement' -%}
        <div
          class="announcement-bar color-{{ block.settings.color_palette }} section-{{ section.id }}-padding"
          role="region"
          aria-label="{{ 'sections.header.announcement' | t }}"
          {{ block.shopify_attributes }}
        >
          {%- if block.settings.text != blank -%}
            {%- if block.settings.link != blank -%}
              <a
                href="{{ block.settings.link }}"
                class="announcement-bar__link link link--text focus-inset animate-arrow"
              >
            {%- endif -%}
            <div class="container container--normal">
              <p class="announcement-bar__message {{ block.settings.text_alignment }}">
                {%- if block.settings.link != blank -%}
                  <span>{{ block.settings.text | replace: '<a', '<span' | replace: '</a>', '</span>' }}</span>
                {%- else -%}
                  <span>{{ block.settings.text }}</span>
                {%- endif -%}
                {%- if block.settings.link != blank -%}
                  {% render 'icon-arrow' %}
                {%- endif -%}
              </p>
            </div>
            {%- if block.settings.link != blank -%}
              </a>
            {%- endif -%}
          {%- endif -%}
        </div>
      {%- when 'announcement-fade' -%}
        {%- assign slides = block.settings.text | split: ',' -%}
        <div
          class="announcement-bar color-{{ block.settings.color_palette }} section-{{ section.id }}-padding"
          role="region"
          aria-label="{{ 'sections.header.announcement' | t }}"
          {{ block.shopify_attributes }}
        >
          {%- if block.settings.text != blank -%}
            {%- if block.settings.link != blank -%}
              <a
                href="{{ block.settings.link }}"
                class="announcement-bar__link link link--text focus-inset animate-arrow"
              >
            {%- endif -%}
            <div class="container container--normal">
              <div
                id="announcementbar__{{ sectionId }}"
                class="swiper swiper_no_pagination announcement-bar__swiper"
                {% render 'swiper-data-editor', numberOfSlides: slides.size -%}
              >
                <div class="swiper-wrapper">
                  {%- for slide in slides -%}
                    <div class="swiper-slide">
                      <p class="announcement-bar__message">{{ slide }}</p>
                    </div>
                  {%- endfor -%}
                </div>
                {%- assign swiperEl = "'#announcementbar__" | append: sectionId | append: "'" -%}
                {%- capture swiperOptions -%}
                  loop: true,
                  effect: "fade",
                  centeredSlides: true,
                  slidesPerView: 1,
                  autoHeight: true,
                  observer: true,
                  autoplay: {delay:1500},
                {%- endcapture -%}
                {% render 'swiper-theme-editor', sectionId: sectionId, swiperVariant: 'announcementbar__', swiperEl: swiperEl, swiperOptions: swiperOptions, pagination: false, navigation: false %}
              </div>
            </div>
            {%- if block.settings.link != blank -%}
              </a>
            {%- endif -%}
          {%- endif -%}
        </div>
      {%- when 'announcement-timer' -%}
        <div
          class="announcement-bar color-{{ block.settings.color_palette }} section-{{ section.id }}-padding"
          role="region"
          aria-label="{{ 'sections.header.announcement' | t }}"
          {{ block.shopify_attributes }}
        >
          {%- if block.settings.text != blank -%}
            {%- if block.settings.link != blank -%}
              <a
                href="{{ block.settings.link }}"
                class="announcement-bar__link link link--text focus-inset animate-arrow"
              >
            {%- endif -%}
            <div class="container container--normal announcement-bar__wrapper">
              <p class="announcement-bar__message">
                <span>{{ block.settings.text }}</span>
                {%- if block.settings.link != blank -%}
                  {% render 'icon-arrow' %}
                {%- endif -%}
              </p>

              {%- render 'timer' -%}
              
              {%- if block.settings.text_secondary != blank -%}
                <p class="announcement-bar__message">{{ block.settings.text_secondary }}</p>
              {%- endif -%}
            </div>
            {%- if block.settings.link != blank -%}
              </a>
            {%- endif -%}
          {%- endif -%}
        </div>
      {%- when 'announcement-socials' -%}
        <div
          class="announcement-bar announcement-bar__socials color-{{ block.settings.color_palette }} section-{{ section.id }}-padding"
          role="region"
          aria-label="{{ 'sections.header.announcement' | t }}"
          {{ block.shopify_attributes }}
        >
          {%- if block.settings.text != blank -%}
            <div class="container container--normal announcement-bar__wrapper">
              <p class="announcement-bar__message">
                <span>{{ block.settings.text }}</span>
              </p>
              <ul class="list list-social list-unstyled" role="list">
                {%- if settings.social_twitter_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_twitter_link }}" class="list-social__link link" target="_blank">
                      {%- render 'icon-twitter' -%}
                      <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_facebook_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_facebook_link }}" class="list-social__link link" target="_blank">
                      {%- render 'icon-facebook' -%}
                      <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_pinterest_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_pinterest_link }}" class="list-social__link link" target="_blank">
                      {%- render 'icon-pinterest' -%}
                      <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_instagram_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_instagram_link }}" class="list-social__link link" target="_blank">
                      {%- render 'icon-instagram' -%}
                      <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_tiktok_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_tiktok_link }}" class="list-social__link link" target="_blank">
                      {%- render 'icon-tiktok' -%}
                      <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_tumblr_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_tumblr_link }}" class="list-social__link link" target="_blank">
                      {%- render 'icon-tumblr' -%}
                      <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_snapchat_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_snapchat_link }}" class="list-social__link link" target="_blank">
                      {%- render 'icon-snapchat' -%}
                      <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_youtube_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_youtube_link }}" class="list-social__link link" target="_blank">
                      {%- render 'icon-youtube' -%}
                      <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_vimeo_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_vimeo_link }}" class="list-social__link link" target="_blank">
                      {%- render 'icon-vimeo' -%}
                      <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </div>
          {%- endif -%}
        </div>
      {%- when 'announcement-marquee' -%}
        {{ 'section-marquee.css' | asset_url | stylesheet_tag }}
        <style>
          #marquee__{{ section.id }} .marquee__text {
            animation: marquee {{ block.settings.delay }}s linear infinite;
          }
        </style>
        <div
          id="marquee__{{ section.id }}"
          class="announcement-bar color-{{ block.settings.color_palette }} section-{{ section.id }}-padding"
          role="region"
          aria-label="{{ 'sections.header.announcement' | t }}"
          {{ block.shopify_attributes }}
        >
          {%- if block.settings.text != blank -%}
            <div class="marquee__wrapper">
              <p class="announcement-bar__message marquee__text">{{ block.settings.text }}&emsp;&emsp;&emsp;</p>
              <p class="announcement-bar__message marquee__text">{{ block.settings.text }}&emsp;&emsp;&emsp;</p>
              <p class="announcement-bar__message marquee__text">{{ block.settings.text }}&emsp;&emsp;&emsp;</p>
              <p class="announcement-bar__message marquee__text">{{ block.settings.text }}&emsp;&emsp;&emsp;</p>
              <p class="announcement-bar__message marquee__text">{{ block.settings.text }}&emsp;&emsp;&emsp;</p>
              <p class="announcement-bar__message marquee__text">{{ block.settings.text }}&emsp;&emsp;&emsp;</p>
              <p class="announcement-bar__message marquee__text">{{ block.settings.text }}&emsp;&emsp;&emsp;</p>
              <p class="announcement-bar__message marquee__text">{{ block.settings.text }}&emsp;&emsp;&emsp;</p>
              <p class="announcement-bar__message marquee__text">{{ block.settings.text }}&emsp;&emsp;&emsp;</p>
              <p class="announcement-bar__message marquee__text">{{ block.settings.text }}&emsp;&emsp;&emsp;</p>
            </div>
          {%- endif -%}
        </div>
    {%- endcase -%}
  {%- endfor -%}
</div>
{%- # endregion ══════════════════════════════════════════════════════════════ -%}

{%- # ════════════════════════════════════════════════════════════════════════ -%}
{%- # region(collapsed) Scripts -%}
{% if section.settings.sticky_announcement %}
<script>
  (() => {
    const announceBar = document.querySelector('.announcement-bar-section')
    const announcement = document.querySelector('.announcements');
    new ResizeObserver(() => document.documentElement.style.setProperty('--announcement-height', `${announcement.offsetHeight}px`)).observe(announcement);
    announceBar.classList.add('announcement-sticky');
  })();
</script>
{% endif %}
{%- # endregion ══════════════════════════════════════════════════════════════ -%}

{%- # ════════════════════════════════════════════════════════════════════════ -%}
{%- # region(collapsed) Schema Settings -%}
{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "sticky_announcement",
      "label": "t:sections.announcement-bar.sticky.label",
      "info": "t:sections.announcement-bar.sticky.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.layout"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:sections.global.padding_top.label",
      "default": 6
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:sections.global.padding_bottom.label",
      "default": 6
    },
    {
      "type": "range",
      "id": "padding_top_sm",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:sections.global.padding_top_sm.label",
      "default": 2
    },
    {
      "type": "range",
      "id": "padding_bottom_sm",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:sections.global.padding_bottom_sm.label",
      "default": 2
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.label"
        },
        {
          "type": "color_scheme",
          "id": "color_palette",
          "default": "background",
          "label": "t:sections.global.colors_palette.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    },
    {
      "type": "announcement-fade",
      "name": "t:sections.announcement-bar.blocks.announcement-fade.name",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "default": "Natural, Vegan, Made in France, Secure payment, Fast shipping",
          "label": "t:sections.banner.settings.slides.label",
          "info": "t:sections.banner.settings.slides.info"
        },
        {
          "type": "color_scheme",
          "id": "color_palette",
          "default": "background",
          "label": "t:sections.global.colors_palette.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    },
    {
      "type": "announcement-timer",
      "name": "t:sections.announcement-bar.blocks.announcement-timer.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "text",
          "id": "text_secondary",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_secondary.label"
        },
        {
          "type": "color_scheme",
          "id": "color_palette",
          "default": "background",
          "label": "t:sections.global.colors_palette.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    },
    {
      "type": "announcement-socials",
      "name": "t:sections.announcement-bar.blocks.announcement-socials.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "color_scheme",
          "id": "color_palette",
          "default": "background",
          "label": "t:sections.global.colors_palette.label"
        }
      ]
    },
    {
      "type": "announcement-marquee",
      "name": "t:sections.announcement-bar.blocks.announcement-marquee.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "color_scheme",
          "id": "color_palette",
          "default": "background",
          "label": "t:sections.global.colors_palette.label"
        },
        {
          "type": "range",
          "id": "delay",
          "min": 2,
          "max": 30,
          "step": 2,
          "unit": "s",
          "label": "t:sections.global.delay.label",
          "default": 6
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
{%- # endregion ══════════════════════════════════════════════════════════════ -%}
