{%- liquid
  assign bgImage = section.settings.image_bg_colored
  assign bgImageMobile = section.settings.image_bg_colored_mobile
  if section.settings.enable_cut_bg_color or bgImage != blank or bgImageMobile != blank
    render 'cut-colored'
  endif
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_sm }}px;
    padding-bottom: {{ section.settings.padding_bottom_sm }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- render 'separator-top', section: section -%}

<div class="color-{{ section.settings.color_palette }} section-{{ section.id }}-padding{% if section.settings.enable_cut_bg_color or bgImage != blank or bgImageMobile != blank %} cut-colored-section{% endif %}">
  <div class="container container--{{ section.settings.layout_width }}">
    {%- for block in section.blocks -%}
      {% render block %}
    {%- endfor -%}
  </div>
</div>

{%- render 'separator-bottom', section: section -%}

{% schema %}
{
  "name": "t:sections.apps.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.global.headers.layout"
    },
    {
      "type": "select",
      "id": "layout_width",
      "options": [
        {
          "value": "narrow",
          "label": "t:sections.global.layout_width.options.page_width_narrow"
        },
        {
          "value": "normal",
          "label": "t:sections.global.layout_width.options.page_width"
        },
        {
          "value": "full-padded",
          "label": "t:sections.global.layout_width.options.full_width_padded"
        },
        {
          "value": "full",
          "label": "t:sections.global.layout_width.options.full_width"
        }
      ],
      "default": "normal",
      "label": "t:sections.global.layout_width.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom.label",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_top_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top_sm.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom_sm.label",
      "default": 32
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_palette",
      "default": "background",
      "label": "t:sections.global.colors_palette.label"
    },
    {
      "type": "image_picker",
      "id": "image_bg_colored",
      "label": "t:sections.global.cut_bg_color.image_bg_colored"
    },
    {
      "type": "image_picker",
      "id": "image_bg_colored_mobile",
      "label": "t:sections.global.cut_bg_color.image_bg_colored_mobile"
    },
    {
      "type": "checkbox",
      "id": "enable_cut_bg_color",
      "default": false,
      "label": "t:sections.global.cut_bg_color.enable_cut_bg_color"
    },
    {
      "type": "color",
      "id": "cut_bg_color",
      "default": "#F6F6F6",
      "label": "t:sections.global.cut_bg_color.cut_bg_color",
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_vertical",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_vertical",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_vertical_mobile",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_vertical_mobile",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_horizontal",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_horizontal",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_horizontal_mobile",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_horizontal_mobile",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.separators"
    },
    {
      "type": "select",
      "id": "separator_top",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.top"
    },
    {
      "type": "checkbox",
      "id": "separator_top_invert",
      "label": "t:sections.global.separators.invert",
      "default": false,
      "visible_if": "{{ section.settings.separator_top != 'none' }}"
    },
    {
      "type": "select",
      "id": "separator_bottom",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.bottom"
    },
    {
      "type": "checkbox",
      "id": "separator_bottom_invert",
      "label": "t:sections.global.separators.invert",
      "default": false,
      "visible_if": "{{ section.settings.separator_bottom != 'none' }}"
    },
    {
      "type": "checkbox",
      "id": "separator_animated",
      "label": "t:sections.global.separators.animated",
      "default": false,
      "visible_if": "{{ section.settings.separator_top != 'none' or section.settings.separator_bottom != 'none' }}"
    },
    {
      "type": "color",
      "id": "separator_bg_color",
      "label": "t:sections.global.separators.bg_color",
      "visible_if": "{{ section.settings.separator_top != 'none' or section.settings.separator_bottom != 'none' }}"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name",
      "category": "t:categories.other"
    }
  ]
}
{% endschema %}
