{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
   assign showBlocks = false
   if section.blocks.size > 0
     assign showBlocks = true
   endif
   
  assign bgImage = section.settings.image_bg_colored
  assign bgImageMobile = section.settings.image_bg_colored_mobile
  if section.settings.enable_cut_bg_color or bgImage != blank or bgImageMobile != blank
    render 'cut-colored'
  endif
-%}

{%- render 'separator-top', section: section -%}

<div id="{{ section.settings.section_id }}" class="color-{{ section.settings.color_palette }} section-{{ section.id }}-padding{% if section.settings.enable_cut_bg_color or bgImage != blank or bgImageMobile != blank %} cut-colored-section{% endif %}">

  {%- capture heading -%}
    {%- if section.settings.heading != blank or section.settings.subheading != blank -%}
      {%- render 'heading',
        alignment: section.settings.alignment,
        enable_animations: section.settings.enable_animations,
        animation: section.settings.animation,
        subheading: section.settings.subheading,
        heading: section.settings.heading,
        description: section.settings.description,
        heading_class: 'contact__heading',
        heading_style: section.settings.heading_style
      -%}
    {%- endif -%}
  {%- endcapture -%}
  
  <div class="contact container container--{{ section.settings.layout_width }}">
    {%- liquid
      for block in section.blocks
        if block.type == "picto"
          render "pictogram", block: block
        endif
      endfor
    -%}
    
    {%- if showBlocks -%}
      <div class="contact__meta">
        {{ heading }}

        {% for block in section.blocks %}
          {%- render 'block-icons',
            enable_animations: section.settings.enable_animations,
            animation: section.settings.animation,
            block: block
          -%}
        {% endfor %}
      </div>
    {%- endif -%}

    <div class="contact__form{% if showBlocks %} contact__form--with-show-blocks{% endif %}">
      {%- unless showBlocks -%}
        {{ heading }}
      {%- endunless -%}
      {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
        {%- if form.posted_successfully? -%}
          <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
            {% render 'icon-success' %}
            {{ 'templates.contact.form.post_success' | t }}
          </h2>
        {%- elsif form.errors -%}
          <div class="form__message">
            <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
              {% render 'icon-error' %}
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
          </div>
          <ul class="form-status-list caption-large" role="list">
            <li>
              <a href="#ContactForm-email" class="link">
                {{ form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email }}
              </a>
            </li>
          </ul>
        {%- endif -%}
  
        <div class="contact__fields">
          <div
            class="field"
            {%- render 'animation',
              enable_animations: section.settings.enable_animations,
              animation: section.settings.animation
            -%}
          >
            <input
              class="field__input"
              autocomplete="name"
              type="text"
              id="ContactForm-name"
              name="contact[{{ 'templates.contact.form.name' | t }}]"
              value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
              placeholder="{{ 'templates.contact.form.name' | t }}"
            >
            <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
          </div>
          <div
            class="field field--with-error"
            {%- render 'animation',
              enable_animations: section.settings.enable_animations,
              animation: section.settings.animation
            -%}
          >
            <input
              autocomplete="email"
              type="email"
              id="ContactForm-email"
              class="field__input"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="ContactForm-email-error"
              {% endif %}
              placeholder="{{ 'templates.contact.form.email' | t }}"
            >
            <label class="field__label" for="ContactForm-email">
              {{- 'templates.contact.form.email' | t }}
              <span aria-hidden="true">*</span></label
            >
            {%- if form.errors contains 'email' -%}
              <small class="contact__field-error" id="ContactForm-email-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">
                  {%- render 'icon-error' -%}
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </span>
              </small>
            {%- endif -%}
          </div>
        </div>
        <div
          class="field"
          {%- render 'animation',
            enable_animations: section.settings.enable_animations,
            animation: section.settings.animation
          -%}
        >
          <input
            type="tel"
            id="ContactForm-phone"
            class="field__input"
            autocomplete="tel"
            name="contact[{{ 'templates.contact.form.phone' | t }}]"
            pattern="[0-9\-]*"
            value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
            placeholder="{{ 'templates.contact.form.phone' | t }}"
          >
          <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
        </div>
        {%- if section.settings.order_number != blank -%}
          <div
            class="field"
            {%- render 'animation',
              enable_animations: section.settings.enable_animations,
              animation: section.settings.animation
            -%}
          >
            <input
              type="text"
              id="ContactForm-order"
              class="field__input"
              name="contact[{{ section.settings.order_number }}]"
              pattern="[0-9\-]*"
              placeholder="{{ section.settings.order_number }}"
            >
            <label class="field__label" for="ContactForm-order">{{ section.settings.order_number }}</label>
          </div>
        {%- endif -%}
        <div
          class="field"
          {%- render 'animation',
            enable_animations: section.settings.enable_animations,
            animation: section.settings.animation
          -%}
        >
          <textarea
            rows="10"
            id="ContactForm-body"
            class="text-area field__input"
            name="contact[{{ 'templates.contact.form.comment' | t }}]"
            placeholder="{{ 'templates.contact.form.comment' | t }}"
          >
            {{- form.body -}}
          </textarea>
          <label class="form__label field__label field__label--from-textarea" for="ContactForm-body">
            {{- 'templates.contact.form.comment' | t -}}
          </label>
        </div>
        <div
          class="contact__button button__container"
          {%- render 'animation',
            enable_animations: section.settings.enable_animations,
            animation: section.settings.animation
          -%}
        >
          <button type="submit" class="button button__style--{{ section.settings.button_style }}">
            {{ section.settings.button_text }}
          </button>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{%- render 'separator-bottom', section: section -%}

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "t:sections.global.section_id"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.text"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.global.heading.label",
      "default": "Contact"
    },
    {
      "type": "select",
      "id": "heading_style",
      "options": [
        {
          "value": "1",
          "label": "t:sections.global.style.options.1"
        },
        {
          "value": "2",
          "label": "t:sections.global.style.options.2"
        },
        {
          "value": "3",
          "label": "t:sections.global.style.options.3"
        }
      ],
      "default": "1",
      "label": "t:sections.global.style.heading",
      "visible_if": "{{ section.settings.heading != blank }}"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "t:sections.global.description.label",
      "default": "You can contact us very quickly with this form. We will reply to you within 24 hours."
    },
    {
      "type": "text",
      "id": "order_number",
      "label": "t:sections.contact-form.order_number.label",
      "info": "t:sections.contact-form.order_number.info"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:sections.global.content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.button"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.global.button_text.label",
      "default": "Send"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "1",
          "label": "t:sections.global.style.options.1"
        },
        {
          "value": "2",
          "label": "t:sections.global.style.options.2"
        },
        {
          "value": "3",
          "label": "t:sections.global.style.options.3"
        }
      ],
      "default": "2",
      "label": "t:sections.global.style.button",
      "visible_if": "{{ section.settings.button_text != blank }}"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.layout"
    },
    {
      "type": "select",
      "id": "layout_width",
      "options": [
        {
          "value": "narrow",
          "label": "t:sections.global.layout_width.options.page_width_narrow"
        },
        {
          "value": "normal",
          "label": "t:sections.global.layout_width.options.page_width"
        },
        {
          "value": "full-padded",
          "label": "t:sections.global.layout_width.options.full_width_padded"
        },
        {
          "value": "full",
          "label": "t:sections.global.layout_width.options.full_width"
        }
      ],
      "default": "normal",
      "label": "t:sections.global.layout_width.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom.label",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_top_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top_sm.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom_sm.label",
      "default": 32
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_palette",
      "default": "background",
      "label": "t:sections.global.colors_palette.label"
    },
    {
      "type": "image_picker",
      "id": "image_bg_colored",
      "label": "t:sections.global.cut_bg_color.image_bg_colored"
    },
    {
      "type": "image_picker",
      "id": "image_bg_colored_mobile",
      "label": "t:sections.global.cut_bg_color.image_bg_colored_mobile"
    },
    {
      "type": "checkbox",
      "id": "enable_cut_bg_color",
      "default": false,
      "label": "t:sections.global.cut_bg_color.enable_cut_bg_color"
    },
    {
      "type": "color",
      "id": "cut_bg_color",
      "default": "#F6F6F6",
      "label": "t:sections.global.cut_bg_color.cut_bg_color",
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_vertical",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_vertical",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_vertical_mobile",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_vertical_mobile",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_horizontal",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_horizontal",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_horizontal_mobile",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_horizontal_mobile",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.separators"
    },
    {
      "type": "select",
      "id": "separator_top",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.top"
    },
    {
      "type": "checkbox",
      "id": "separator_top_invert",
      "label": "t:sections.global.separators.invert",
      "default": false,
      "visible_if": "{{ section.settings.separator_top != 'none' }}"
    },
    {
      "type": "select",
      "id": "separator_bottom",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.bottom"
    },
    {
      "type": "checkbox",
      "id": "separator_bottom_invert",
      "label": "t:sections.global.separators.invert",
      "default": false,
      "visible_if": "{{ section.settings.separator_bottom != 'none' }}"
    },
    {
      "type": "checkbox",
      "id": "separator_animated",
      "label": "t:sections.global.separators.animated",
      "default": false,
      "visible_if": "{{ section.settings.separator_top != 'none' or section.settings.separator_bottom != 'none' }}"
    },
    {
      "type": "color",
      "id": "separator_bg_color",
      "label": "t:sections.global.separators.bg_color",
      "visible_if": "{{ section.settings.separator_top != 'none' or section.settings.separator_bottom != 'none' }}"
    }
  ],
  "blocks": [
    {
      "type": "icons",
      "name": "t:sections.image-with-text.blocks.icons.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "icons_style",
          "options": [
            {
              "value": "bullets",
              "label": "t:sections.image-with-text.blocks.icons.style.options.bullets"
            },
            {
              "value": "bullets_half",
              "label": "t:sections.image-with-text.blocks.icons.style.options.bullets_half"
            },
            {
              "value": "grid",
              "label": "t:sections.image-with-text.blocks.icons.style.options.grid"
            },
            {
              "value": "block",
              "label": "t:sections.image-with-text.blocks.icons.style.options.block"
            }
          ],
          "default": "grid",
          "label": "t:sections.image-with-text.blocks.icons.style.label",
          "info": "t:sections.image-with-text.blocks.icons.style.info"
        },
        {
          "type": "select",
          "id": "fill_color",
          "options": [
            {
              "value": "accent",
              "label": "t:sections.product.blocks.rating.rating_fill.options.accent"
            },
            {
              "value": "text",
              "label": "t:sections.product.blocks.rating.rating_fill.options.text"
            }
          ],
          "default": "accent",
          "label": "t:sections.product.blocks.rating.rating_fill.label"
        },
        {
          "type": "checkbox",
          "id": "fill_fade_background",
          "label": "t:sections.image-with-text.blocks.icons.fill_fade_background.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:settings_schema.icons.settings.headers.1"
        },
        {
          "type": "select",
          "id": "icon_1_icon_type",
          "options": [
            {
              "value": "apple",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:settings_schema.icons.settings.icon.label"
        },
        {
          "type": "image_picker",
          "id": "icon_1_custom_icon",
          "label": "t:settings_schema.icons.settings.custom_icon.label"
        },
        {
          "type": "inline_richtext",
          "id": "icon_1_text",
          "label": "t:settings_schema.icons.settings.text.label",
          "default": "Number 1 in the world"
        },
        {
          "type": "inline_richtext",
          "id": "icon_1_description",
          "label": "t:settings_schema.icons.settings.description.label",
          "default": "Put here a description of the benefit or the feature."
        },
        {
          "type": "url",
          "id": "icon_1_url",
          "label": "t:settings_schema.icons.settings.url.label"
        },
        {
          "type": "header",
          "content": "t:settings_schema.icons.settings.headers.2"
        },
        {
          "type": "select",
          "id": "icon_2_icon_type",
          "options": [
            {
              "value": "apple",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:settings_schema.icons.settings.icon.label"
        },
        {
          "type": "image_picker",
          "id": "icon_2_custom_icon",
          "label": "t:settings_schema.icons.settings.custom_icon.label"
        },
        {
          "type": "inline_richtext",
          "id": "icon_2_text",
          "label": "t:settings_schema.icons.settings.text.label",
          "default": "Best customer service"
        },
        {
          "type": "inline_richtext",
          "id": "icon_2_description",
          "label": "t:settings_schema.icons.settings.description.label",
          "default": "Put here a description of the benefit or the feature."
        },
        {
          "type": "url",
          "id": "icon_2_url",
          "label": "t:settings_schema.icons.settings.url.label"
        },
        {
          "type": "header",
          "content": "t:settings_schema.icons.settings.headers.3"
        },
        {
          "type": "select",
          "id": "icon_3_icon_type",
          "options": [
            {
              "value": "apple",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:settings_schema.icons.settings.icon.label"
        },
        {
          "type": "image_picker",
          "id": "icon_3_custom_icon",
          "label": "t:settings_schema.icons.settings.custom_icon.label"
        },
        {
          "type": "inline_richtext",
          "id": "icon_3_text",
          "label": "t:settings_schema.icons.settings.text.label",
          "default": "Great product quality"
        },
        {
          "type": "inline_richtext",
          "id": "icon_3_description",
          "label": "t:settings_schema.icons.settings.description.label",
          "default": "Put here a description of the benefit or the feature."
        },
        {
          "type": "url",
          "id": "icon_3_url",
          "label": "t:settings_schema.icons.settings.url.label"
        },
        {
          "type": "header",
          "content": "t:settings_schema.icons.settings.headers.4"
        },
        {
          "type": "select",
          "id": "icon_4_icon_type",
          "options": [
            {
              "value": "apple",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:settings_schema.icons.settings.icon.label"
        },
        {
          "type": "image_picker",
          "id": "icon_4_custom_icon",
          "label": "t:settings_schema.icons.settings.custom_icon.label"
        },
        {
          "type": "inline_richtext",
          "id": "icon_4_text",
          "label": "t:settings_schema.icons.settings.text.label",
          "default": "Recommended by professionals"
        },
        {
          "type": "inline_richtext",
          "id": "icon_4_description",
          "label": "t:settings_schema.icons.settings.description.label",
          "default": "Put here a description of the benefit or the feature."
        },
        {
          "type": "url",
          "id": "icon_4_url",
          "label": "t:settings_schema.icons.settings.url.label"
        }
      ]
    },
    {
      "type": "picto",
      "name": "t:sections.global.picto.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.global.picto.image"
        },
        {
          "type": "header",
          "content": "t:sections.global.picto.headers.top_left"
        },
        {
          "type": "range",
          "id": "top",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.top",
          "default": 36
        },
        {
          "type": "range",
          "id": "left",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.left",
          "default": 36
        },
        {
          "type": "range",
          "id": "top_mobile",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.top_mobile",
          "default": 36
        },
        {
          "type": "range",
          "id": "left_mobile",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.left_mobile",
          "default": 36
        },
        {
          "type": "header",
          "content": "t:sections.global.picto.headers.rotate"
        },
        {
          "type": "range",
          "id": "rotate",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "deg",
          "label": "t:sections.global.picto.rotate",
          "default": 0
        },
        {
          "type": "range",
          "id": "rotate_mobile",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "deg",
          "label": "t:sections.global.picto.rotate_mobile",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:sections.global.picto.headers.width"
        },
        {
          "type": "range",
          "id": "width",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "px",
          "label": "t:sections.global.picto.width",
          "default": 72
        },
        {
          "type": "range",
          "id": "width_mobile",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "px",
          "label": "t:sections.global.picto.width_mobile",
          "default": 72
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name",
      "category": "t:categories.forms"
    }
  ]
}
{% endschema %}
