{{ 'section-gallery.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign enable_animations = section.settings.enable_animations
  assign animation = section.settings.animation

  assign noGap = false
  if section.settings.gap == 0
    assign noGap = true
  endif
  
  assign bgImage = section.settings.image_bg_colored
  assign bgImageMobile = section.settings.image_bg_colored_mobile
  if section.settings.enable_cut_bg_color or bgImage != blank or bgImageMobile != blank
    render 'cut-colored'
  endif
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_sm }}px;
    padding-bottom: {{ section.settings.padding_bottom_sm }}px;
  }
  
  .section-{{ section.id }}-padding .gallery__container {
    gap: {{ section.settings.gap | divided_by: 10.0 }}rem;
    grid-template-columns: repeat({{ section.settings.slides_on_mobile }}, 1fr);
  }

  @media screen and (min-width: 600px) {
    .section-{{ section.id }}-padding .gallery__container {
      grid-template-columns: repeat({{ section.settings.slides_on_tablet }}, 1fr);
    }
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @media screen and (min-width: 900px) {
    .section-{{ section.id }}-padding .gallery__container {
      grid-template-columns: repeat({{ section.settings.slides_on_desktop }}, 1fr);
    }
  }
{%- endstyle -%}

{%- render 'separator-top', section: section -%}

<div id="{{ section.settings.section_id }}" class="color-{{ section.settings.color_palette }} section-{{ section.id }}-padding{% if section.settings.enable_cut_bg_color or bgImage != blank or bgImageMobile != blank %} cut-colored-section{% endif %}">
  <div class="gallery container container--{{ section.settings.layout_width }}">
    {%- if section.settings.heading != blank or section.settings.subheading != blank -%}
      {%- render 'heading',
        alignment: section.settings.alignment,
        enable_animations: section.settings.enable_animations,
        animation: section.settings.animation,
        subheading: section.settings.subheading,
        heading: section.settings.heading,
        description: section.settings.description,
        heading_class: 'video__heading',
        heading_style: section.settings.heading_style
      -%}
    {%- endif -%}

    <div class="
      gallery__container gallery__height--{{ section.settings.height }}
      {% if noGap %}gallery__no-gap{% endif %}
    ">
      {%- for block in section.blocks -%}
        {%- if block.type == "image" -%}
          {%- assign image = block.settings.image -%}
          <{%- if block.settings.url != blank %}a href="{{ block.settings.url }}" target="_blank"{% else %}div{% endif %}
            {% render 'animation', enable_animations: enable_animations, animation: animation %}
            class="gallery__media{% unless noGap %} global-media-settings{% endunless %} {% if image != blank %}media{% else %}gallery__media--placeholder placeholder{% endif %}"
          >
            {%- if image != blank -%}
              {%- capture sizes -%}
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
              {{
                image
                | image_url: width: 1500
                | image_tag: loading: 'lazy', class: "gallery__media--image", sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
              }}
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </{%- if block.settings.url != blank %}a{% else %}div{% endif %}>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{%- render 'separator-bottom', section: section -%}

{% schema %}
{
  "name": "t:sections.gallery.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "t:sections.global.section_id"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "range",
      "id": "slides_on_desktop",
      "min": 2,
      "max": 10,
      "step": 1,
      "unit": "itm",
      "label": "t:sections.reviews.slides_on_desktop.label",
      "default": 4
    },
    {
      "type": "range",
      "id": "slides_on_tablet",
      "min": 2,
      "max": 10,
      "step": 1,
      "unit": "itm",
      "label": "t:sections.reviews.slides_on_tablet.label",
      "default": 4
    },
    {
      "type": "range",
      "id": "slides_on_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "unit": "itm",
      "label": "t:sections.reviews.slides_on_mobile.label",
      "default": 2
    },
    {
      "type": "range",
      "id": "gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.global.gap.label",
      "default": 24
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.text"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.subheading.label",
      "default": "Details"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.global.heading.label",
      "default": "Hear from our lovely customers"
    },
    {
      "type": "select",
      "id": "heading_style",
      "options": [
        {
          "value": "1",
          "label": "t:sections.global.style.options.1"
        },
        {
          "value": "2",
          "label": "t:sections.global.style.options.2"
        },
        {
          "value": "3",
          "label": "t:sections.global.style.options.3"
        }
      ],
      "default": "2",
      "label": "t:sections.global.style.heading",
      "visible_if": "{{ section.settings.heading != blank }}"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "t:sections.global.description.label",
      "default": "Show to your customers a video presenting your brand and your products."
    },
    {
      "type": "select",
      "id": "alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.animations"
    },
    {
      "type": "checkbox",
      "id": "enable_animations",
      "label": "t:sections.global.animation.enable",
      "default": true
    },
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "fade-up",
          "label": "t:sections.global.animation.options.fade_up"
        },
        {
          "value": "fade-down",
          "label": "t:sections.global.animation.options.fade_down"
        },
        {
          "value": "fade-right",
          "label": "t:sections.global.animation.options.fade_right"
        },
        {
          "value": "fade-left",
          "label": "t:sections.global.animation.options.fade_left"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.global.animation.options.zoom_in"
        },
        {
          "value": "zoom-out",
          "label": "t:sections.global.animation.options.zoom_out"
        }
      ],
      "default": "fade-up",
      "label": "t:sections.global.animation.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.layout"
    },
    {
      "type": "select",
      "id": "layout_width",
      "options": [
        {
          "value": "narrow",
          "label": "t:sections.global.layout_width.options.page_width_narrow"
        },
        {
          "value": "normal",
          "label": "t:sections.global.layout_width.options.page_width"
        },
        {
          "value": "full-padded",
          "label": "t:sections.global.layout_width.options.full_width_padded"
        },
        {
          "value": "full",
          "label": "t:sections.global.layout_width.options.full_width"
        }
      ],
      "default": "normal",
      "label": "t:sections.global.layout_width.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom.label",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_top_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top_sm.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom_sm.label",
      "default": 32
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_palette",
      "default": "background",
      "label": "t:sections.global.colors_palette.label"
    },
    {
      "type": "image_picker",
      "id": "image_bg_colored",
      "label": "t:sections.global.cut_bg_color.image_bg_colored"
    },
    {
      "type": "image_picker",
      "id": "image_bg_colored_mobile",
      "label": "t:sections.global.cut_bg_color.image_bg_colored_mobile"
    },
    {
      "type": "checkbox",
      "id": "enable_cut_bg_color",
      "default": false,
      "label": "t:sections.global.cut_bg_color.enable_cut_bg_color"
    },
    {
      "type": "color",
      "id": "cut_bg_color",
      "default": "#F6F6F6",
      "label": "t:sections.global.cut_bg_color.cut_bg_color",
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_vertical",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_vertical",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_vertical_mobile",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_vertical_mobile",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_horizontal",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_horizontal",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_horizontal_mobile",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_horizontal_mobile",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.separators"
    },
    {
      "type": "select",
      "id": "separator_top",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.top"
    },
    {
      "type": "checkbox",
      "id": "separator_top_invert",
      "label": "t:sections.global.separators.invert",
      "default": false,
      "visible_if": "{{ section.settings.separator_top != 'none' }}"
    },
    {
      "type": "select",
      "id": "separator_bottom",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.bottom"
    },
    {
      "type": "checkbox",
      "id": "separator_bottom_invert",
      "label": "t:sections.global.separators.invert",
      "default": false,
      "visible_if": "{{ section.settings.separator_bottom != 'none' }}"
    },
    {
      "type": "checkbox",
      "id": "separator_animated",
      "label": "t:sections.global.separators.animated",
      "default": false,
      "visible_if": "{{ section.settings.separator_top != 'none' or section.settings.separator_bottom != 'none' }}"
    },
    {
      "type": "color",
      "id": "separator_bg_color",
      "label": "t:sections.global.separators.bg_color",
      "visible_if": "{{ section.settings.separator_top != 'none' or section.settings.separator_bottom != 'none' }}"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.image-with-text.settings.image.label",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-with-text.settings.image.label"
        },
        {
          "type": "url",
          "id": "url",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.gallery.name",
      "category": "t:categories.media_text",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
