{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign enable_animations = section.settings.enable_animations
  assign animation = section.settings.animation
  assign layout = section.settings.layout
  assign card_style = section.settings.card_style
  assign slidesPerViewDesktop = section.settings.slides_on_desktop
  assign slidesPerViewMobile = section.settings.slides_on_mobile
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_sm }}px;
    padding-bottom: {{ section.settings.padding_bottom_sm }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  #collection_list_{{ sectionId }}.collection-list__grid .collection-list__wrapper { column-count: {{ slidesPerViewMobile }}; }

  @media screen and (min-width: 750px) {
    #collection_list_{{ sectionId }}.collection-list__grid .collection-list__wrapper { column-count: {{ slidesPerViewDesktop }}; }
  }
{%- endstyle -%}

{%- render 'separator-top', section: section -%}

<div
  class="color-{{ section.settings.color_palette }} section-{{ section.id }}-padding"
  data-section-id="{{ section.id }}"
>
  <div class="container container--{{ section.settings.layout_width }}">
    <div class="collection-list{% if layout == "masonry" %} wrapper__visible{% endif %}">
      {%- if section.settings.heading != blank or section.settings.subheading != blank -%}
        {%- render 'heading',
          alignment: section.settings.alignment,
          enable_animations: section.settings.enable_animations,
          animation: section.settings.animation,
          subheading: section.settings.subheading,
          heading: section.settings.heading,
          description: section.settings.description,
          heading_class: 'collection-list__heading',
          heading_style: section.settings.heading_style
        -%}
      {%- endif -%}

      <div
        id="collection_list_{{ sectionId }}"
        class="collection-list__grid"
      >
        {%- paginate collections by paginate_by -%}
          <div class="collection-list__wrapper">
            {%- for collection in collections -%}
              <div
                class="collection-list__item-grid collection-list__item--{{ card_style }}"
                {%- render 'animation', enable_animations: enable_animations, animation: animation -%}
              >
                <a
                  href="{{ collection.url }}"
                  class="collection-list__link{% if card_style != 'hover' %}--no-shadow global-media-settings{% endif %}"
                >
                  {%- if card_style == 'above' -%}
                    <div class="collection-list__item-meta-aside">
                      <h3 class="collection-list__item-heading-aside">
                        {{ collection.title }}
                      </h3>
                    </div>
                  {%- endif -%}
                  <div
                    class="
                      {% if card_style == 'hover' %}global-media-settings {% endif %}
                      collection-list__item collection-list__item--{{ section.settings.height }}
                      {% if collection.featured_image != blank %}media{% else %}collection-list__item--placeholder placeholder{% endif %}
                      collection-list__item--{{ card_style }}
                    "
                    {% if section.settings.height == 'adapt' and collection.featured_image != blank %}
                      style="padding-bottom: {{ 1 | divided_by: collection.featured_image.aspect_ratio | times: 100 }}%;"
                    {% endif %}
                  >
                    {%- if collection.featured_image != blank -%}
                      {%- capture sizes -%}
                        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                        (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                      {%- endcapture -%}
                      {{
                        collection.featured_image
                        | image_url: width: 1500
                        | image_tag:
                          loading: 'lazy',
                          class: 'media--image',
                          sizes: sizes,
                          widths: '165, 360, 535, 750, 1070, 1500'
                      }}
                    {%- else -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                    {%- if card_style == 'hover' -%}
                      <div class="collection-list__item-meta-hover">
                        <h3 class="collection-list__item-heading-hover">
                          {{ collection.title }}
                        </h3>
                      </div>
                    {%- endif -%}
                  </div>
                  {%- if card_style == 'under' -%}
                    <div class="collection-list__item-heading-aside">
                      <h3 class="collection-list__item-heading-aside">
                        {{ collection.title }}
                      </h3>
                    </div>
                  {%- endif -%}
                </a>
              </div>
            {%- endfor -%}
          </div>
          {% render 'pagination', paginate: paginate %}
        {%- endpaginate -%}
      </div>
    </div>
  </div>
</div>

{%- render 'separator-bottom', section: section -%}

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.reviews.height.options.adapt"
        },
        {
          "value": "horizontal",
          "label": "t:sections.reviews.height.options.horizontal"
        },
        {
          "value": "square",
          "label": "t:sections.reviews.height.options.square"
        },
        {
          "value": "vertical",
          "label": "t:sections.reviews.height.options.vertical"
        }
      ],
      "default": "adapt",
      "label": "t:sections.reviews.height.label"
    },
    {
      "type": "select",
      "id": "card_style",
      "options": [
        {
          "value": "hover",
          "label": "t:sections.collection-list.card_style.options.hover"
        },
        {
          "value": "above",
          "label": "t:sections.collection-list.card_style.options.above"
        },
        {
          "value": "under",
          "label": "t:sections.collection-list.card_style.options.under"
        },
        {
          "value": "none",
          "label": "t:sections.collection-list.card_style.options.none"
        }
      ],
      "default": "hover",
      "label": "t:sections.collection-list.card_style.label"
    },
    {
      "type": "range",
      "id": "slides_on_desktop",
      "min": 2,
      "max": 7,
      "step": 1,
      "unit": "itm",
      "label": "t:sections.reviews.slides_on_desktop.label",
      "default": 4
    },
    {
      "type": "select",
      "id": "slides_on_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.collection-list.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.collection-list.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.collection-list.settings.columns_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.text"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.subheading.label",
      "default": "Details"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.global.heading.label",
      "default": "Hear from our lovely customers"
    },
    {
      "type": "select",
      "id": "heading_style",
      "options": [
        {
          "value": "1",
          "label": "t:sections.global.style.options.1"
        },
        {
          "value": "2",
          "label": "t:sections.global.style.options.2"
        },
        {
          "value": "3",
          "label": "t:sections.global.style.options.3"
        }
      ],
      "default": "2",
      "label": "t:sections.global.style.heading",
      "visible_if": "{{ section.settings.heading != blank }}"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "t:sections.global.description.label",
      "default": "Show to your customers a video presenting your brand and your products."
    },
    {
      "type": "select",
      "id": "alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.animations"
    },
    {
      "type": "checkbox",
      "id": "enable_animations",
      "label": "t:sections.global.animation.enable",
      "default": true
    },
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "fade-up",
          "label": "t:sections.global.animation.options.fade_up"
        },
        {
          "value": "fade-down",
          "label": "t:sections.global.animation.options.fade_down"
        },
        {
          "value": "fade-right",
          "label": "t:sections.global.animation.options.fade_right"
        },
        {
          "value": "fade-left",
          "label": "t:sections.global.animation.options.fade_left"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.global.animation.options.zoom_in"
        },
        {
          "value": "zoom-out",
          "label": "t:sections.global.animation.options.zoom_out"
        }
      ],
      "default": "fade-up",
      "label": "t:sections.global.animation.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.layout"
    },
    {
      "type": "select",
      "id": "layout_width",
      "options": [
        {
          "value": "narrow",
          "label": "t:sections.global.layout_width.options.page_width_narrow"
        },
        {
          "value": "normal",
          "label": "t:sections.global.layout_width.options.page_width"
        },
        {
          "value": "full-padded",
          "label": "t:sections.global.layout_width.options.full_width_padded"
        },
        {
          "value": "full",
          "label": "t:sections.global.layout_width.options.full_width"
        }
      ],
      "default": "normal",
      "label": "t:sections.global.layout_width.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom.label",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_top_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top_sm.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom_sm.label",
      "default": 32
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_palette",
      "default": "background",
      "label": "t:sections.global.colors_palette.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.separators"
    },
    {
      "type": "select",
      "id": "separator_top",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.top"
    },
    {
      "type": "checkbox",
      "id": "separator_top_invert",
      "label": "t:sections.global.separators.invert",
      "default": false,
      "visible_if": "{{ section.settings.separator_top != 'none' }}"
    },
    {
      "type": "select",
      "id": "separator_bottom",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.bottom"
    },
    {
      "type": "checkbox",
      "id": "separator_bottom_invert",
      "label": "t:sections.global.separators.invert",
      "default": false,
      "visible_if": "{{ section.settings.separator_bottom != 'none' }}"
    },
    {
      "type": "checkbox",
      "id": "separator_animated",
      "label": "t:sections.global.separators.animated",
      "default": false,
      "visible_if": "{{ section.settings.separator_top != 'none' or section.settings.separator_bottom != 'none' }}"
    },
    {
      "type": "color",
      "id": "separator_bg_color",
      "label": "t:sections.global.separators.bg_color",
      "visible_if": "{{ section.settings.separator_top != 'none' or section.settings.separator_bottom != 'none' }}"
    }
  ]
}
{% endschema %}
