
{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

<div class="container container--normal" id="main-cart-footer" data-id="{{ section.id }}">
  <div>
    <div class="cart__footer">
      {%- if settings.show_cart_note -%}
        <cart-note class="cart__note field">
          <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
          <textarea
            class="text-area field__input"
            name="note"
            form="cart"
            id="Cart-note"
            placeholder="{{ 'sections.cart.note' | t }}"
          >{{ cart.note }}</textarea>
        </cart-note>
      {%- endif -%}

      <div class="cart__blocks">
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
          {%- endcase -%}
        {% endfor %}

        {%- liquid
          assign total_cart_item_price = 0
          assign total_cart_compare_price = 0
          assign savings = 0
          for item in cart.items
            assign total_cart_item_price = total_cart_item_price | plus: item.price
            assign compare_price = item.variant.compare_at_price | times: item.quantity
            assign total_cart_compare_price = total_cart_compare_price | plus: compare_price
            unless item.variant.compare_at_price >= item.variant.price
              assign normal_price = item.variant.price | times: item.quantity
              assign total_cart_compare_price = total_cart_compare_price | plus: normal_price
            endunless
            if item.line_level_discount_allocations != blank
              for discount_allocation in item.line_level_discount_allocations
                assign savings = savings | plus: discount_allocation.amount
              endfor
            endif
            if item.variant.compare_at_price > item.variant.price
              assign difference = item.variant.compare_at_price | minus: item.variant.price
              assign diffSaving = difference | times: item.quantity
              assign savings = savings | plus: diffSaving
            endif
          endfor
        -%}

        <div class="js-contents" {{ block.shopify_attributes }}>
          {%- if settings.cart_subtotal_text != blank -%}
            <div class="totals subtotal" role="status">
              <h2 class="totals__subtotal totals__little">{{ settings.cart_subtotal_text }}</h2>
              <p class="totals__subtotal-value drawer__subtotal--amount">
                {{ cart.total_price | plus: savings | money_with_currency }}
              </p>
            </div>
          {%- endif -%}
          {%- if settings.cart_savings_text != blank -%}
            <div class="totals savings" role="status">
              <h2 class="totals__subtotal totals__little">{{ settings.cart_savings_text }}</h2>
              <p class="totals__subtotal-value drawer__savings--amount">
                {{ savings | money_with_currency }}
              </p>
            </div>
          {%- endif -%}
          <div class="totals">
            <h2 class="totals__subtotal">{{ settings.cart_total_text | default: 'Total' }}</h2>
            <p class="totals__subtotal-value">{{ cart.total_price | money_with_currency }}</p>
          </div>

          <div>
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <li class="discounts__discount discounts__discount--position">
                    {%- render 'icon-discount' -%}
                    {{ discount.title }}
                    (-{{ discount.total_allocated_amount | money }})
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>

          {%- if settings.cart_footer_text != blank -%}
            <small class="tax-note caption-large rte">
              {{ settings.cart_footer_text }}
            </small>
          {%- endif -%}
        </div>

        <div class="cart__ctas" {{ block.shopify_attributes }}>

          <button
            type="submit"
            id="checkout"
            class="cart__checkout-button button button__style--{{ settings.cart_button_style }}"
            name="checkout"
            {% if cart == empty %}
              disabled
            {% endif %}
            form="cart"
          >
            {{ settings.cart_button_text | default: 'Check out' }}
          </button>
        </div>

        {%- if additional_checkout_buttons and section.settings.additional_checkout_buttons -%}
          <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
        {%- endif -%}

        <div id="cart-errors"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "settings": [
    {
      "type": "checkbox",
      "id": "additional_checkout_buttons",
      "label": "t:settings_schema.global.settings.additional_checkout_buttons.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}