{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'section-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign enable_animations = section.settings.enable_animations
  assign animation = section.settings.animation
-%}

<link
  rel="preload"
  href="{{ 'component-rte.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_sm }}px;
    padding-bottom: {{ section.settings.padding_bottom_sm }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .product-form__buttons.card__product-form-buttons {
    width: 100%;
    height: 5rem;
  }
{%- endstyle -%}

{%- render 'separator-top', section: section -%}

<div class="color-{{ section.settings.color_palette }} section-{{ section.id }}-padding ">
  <div class="template-collection collection__style--{{ settings.product_card_style }} container container--{{ section.settings.layout_width }}">
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
    {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
      <facet-filters-form class="facets facets-vertical-sort page-width small-hide no-js-hidden">
        <form class="facets-vertical-form" id="FacetSortForm">
          <div class="facet-filters sorting caption">
            <div class="facet-filters__field">
              <h2 class="facet-filters__label caption-large text-body">
                <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
              </h2>
              <div class="select">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <select
                  name="sort_by"
                  class="facet-filters__sort select__select caption-large"
                  id="SortBy"
                  aria-describedby="a11y-refresh-page-message"
                >
                  {%- for option in collection.sort_options -%}
                    <option
                      value="{{ option.value | escape }}"
                      {% if option.value == sort_by %}
                        selected="selected"
                      {% endif %}
                    >
                      {{ option.name | escape }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
          </div>

          <div class="product-count-vertical light" role="status">
            <h2 class="product-count__text text-body">
              <span id="ProductCountDesktop">
                {%- if collection.results_count -%}
                  {{
                    'templates.search.results_with_count'
                    | t: terms: collection.terms, count: collection.results_count
                  }}
                {%- elsif collection.products_count == collection.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                {%- else -%}
                  {{
                    'products.facets.product_count'
                    | t: product_count: collection.products_count, count: collection.all_products_count
                  }}
                {%- endif -%}
              </span>
            </h2>
            <div class="loading-overlay__spinner">
              <svg
                aria-hidden="true"
                focusable="false"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>
        </form>
      </facet-filters-form>
    {%- endif -%}

    <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
      {{ 'component-facets.css' | asset_url | stylesheet_tag }}
      {%- render 'script' with 'facets', defer: true -%}

      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <aside
          aria-labelledby="verticalTitle"
          class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          id="main-collection-filters"
          data-id="{{ section.id }}"
        >
          {% render 'facets',
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting,
            filter_type: section.settings.filter_type,
            enable_animations: enable_animations,
            animation: animation
          %}
        </aside>
      {%- endif -%}

      <div class="product-grid-container" id="ProductGridContainer">
        {%- paginate collection.products by section.settings.products_per_page -%}
          {%- if collection.products.size == 0 -%}
            <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
              <div class="loading-overlay gradient"></div>
              <div class="title-wrapper center">
                <h2 class="title title--primary">
                  {{ 'sections.collection_template.empty' | t -}}
                  <br>
                  {{
                    'sections.collection_template.use_fewer_filters_html'
                    | t: link: collection.url, class: 'underlined-link link'
                  }}
                </h2>
              </div>
            </div>
          {%- else -%}
            <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
              <div class="loading-overlay gradient"></div>

              <ul
                id="product-grid"
                data-id="{{ section.id }}"
                class="
                  grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
                  grid--{{ section.settings.columns_desktop }}-col-desktop
                "
              >
                {%- for product in collection.products -%}
                  <li
                    class="grid__item"
                    {%- render 'animation', enable_animations: enable_animations, animation: animation -%}
                  >
                    {% render 'card-product',
                      section_id: section.id,
                      card_product: product,
                      card_style: settings.product_card_style,
                      formatting: false,
                      media_aspect_ratio: section.settings.image_ratio,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_rating: section.settings.show_rating,
                      variants_wrap: section.settings.variants_wrap

                    %}
                  </li>
                {%- endfor -%}
              </ul>

              {%- if paginate.pages > 1 -%}
                {% render 'pagination',
                  paginate: paginate,
                  anchor: '',
                  enable_animations: enable_animations,
                  animation: animation
                %}
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- endpaginate -%}
      </div>
    </div>
  </div>
</div>

{%- render 'separator-bottom', section: section -%}

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "label": "t:sections.collection.show_secondary_image.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:sections.collection.show_vendor.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "label": "t:sections.collection.show_rating.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "variants_wrap",
      "label": "t:sections.collection.variants_wrap.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.animations"
    },
    {
      "type": "checkbox",
      "id": "enable_animations",
      "label": "t:sections.global.animation.enable",
      "default": true
    },
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "fade-up",
          "label": "t:sections.global.animation.options.fade_up"
        },
        {
          "value": "fade-down",
          "label": "t:sections.global.animation.options.fade_down"
        },
        {
          "value": "fade-right",
          "label": "t:sections.global.animation.options.fade_right"
        },
        {
          "value": "fade-left",
          "label": "t:sections.global.animation.options.fade_left"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.global.animation.options.zoom_in"
        },
        {
          "value": "zoom-out",
          "label": "t:sections.global.animation.options.zoom_out"
        }
      ],
      "default": "fade-up",
      "label": "t:sections.global.animation.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.layout"
    },
    {
      "type": "select",
      "id": "layout_width",
      "options": [
        {
          "value": "narrow",
          "label": "t:sections.global.layout_width.options.page_width_narrow"
        },
        {
          "value": "normal",
          "label": "t:sections.global.layout_width.options.page_width"
        },
        {
          "value": "full-padded",
          "label": "t:sections.global.layout_width.options.full_width_padded"
        },
        {
          "value": "full",
          "label": "t:sections.global.layout_width.options.full_width"
        }
      ],
      "default": "normal",
      "label": "t:sections.global.layout_width.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom.label",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_top_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top_sm.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom_sm.label",
      "default": 32
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_palette",
      "default": "background",
      "label": "t:sections.global.colors_palette.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.separators"
    },
    {
      "type": "select",
      "id": "separator_top",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.top"
    },
    {
      "type": "checkbox",
      "id": "separator_top_invert",
      "label": "t:sections.global.separators.invert",
      "default": false,
      "visible_if": "{{ section.settings.separator_top != 'none' }}"
    },
    {
      "type": "select",
      "id": "separator_bottom",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.bottom"
    },
    {
      "type": "checkbox",
      "id": "separator_bottom_invert",
      "label": "t:sections.global.separators.invert",
      "default": false,
      "visible_if": "{{ section.settings.separator_bottom != 'none' }}"
    },
    {
      "type": "checkbox",
      "id": "separator_animated",
      "label": "t:sections.global.separators.animated",
      "default": false,
      "visible_if": "{{ section.settings.separator_top != 'none' or section.settings.separator_bottom != 'none' }}"
    },
    {
      "type": "color",
      "id": "separator_bg_color",
      "label": "t:sections.global.separators.bg_color",
      "visible_if": "{{ section.settings.separator_top != 'none' or section.settings.separator_bottom != 'none' }}"
    }
  ]
}
{% endschema %}
