{{ 'section-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign sectionId = section.id | remove: '-'
  assign content_offset = '5rem'
  if section.settings.content_background_behavior == 'transparent'
    assign content_offset = '0rem'
  endif

  assign lazy = 'eager'
  if section.settings.lazy
    assign lazy = 'lazy'
  endif

  assign bgImage = section.settings.image_bg_colored
  assign bgImageMobile = section.settings.image_bg_colored_mobile
  if section.settings.enable_cut_bg_color or bgImage != blank or bgImageMobile != blank
    render 'cut-colored'
  endif
-%}

{%- style -%}
  :root {
    --slideshow-content-offset: {{ content_offset }};
    --slideshow-content-offset-mobile: {{ content_offset | divided_by: 2.5 }};
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_sm }}px;
    padding-bottom: {{ section.settings.padding_bottom_sm }}px;
  }

  {%- if section.settings.hide_mobile -%}
    @media screen and (max-width: 749px) {
      .section-{{ section.id }}-padding { display: none; }
    }
  {%- endif -%}

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      {%- if section.settings.hide_desktop -%}
        display: none;
      {%- endif -%}
    }
  }

  #slideshow__content-{{ section.id }} {
    {% case section.settings.content_background_behavior %}
      {% when "transparent" %}
        background: transparent;
          border: none;
      {% when "blur" %}
        background: rgba(var(--color-background), .5);
        backdrop-filter: blur(1rem);
      {% when "translucid" %}
        background: rgba(var(--color-background), .7);;
    {% endcase %}
  }

  {%- if section.settings.height == 'adapt' and section.blocks.first.settings.image != blank -%}
    @media only screen and (min-width: 750px) {
      #slideshow__swiper{{ sectionId }} .banner__media:not(.banner__placeholder) {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
        display: block;
      }
    }
  {%- endif -%}

  .banner__media--{{block.id}} .banner__media::after {
   {% if block.settings.image_overlay_opacity == 0 %}
     content: none;
   {% endif %}
    opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
  }

  {%- if section.settings.height != "adapt" or section.blocks.first.settings.image == blank -%}
    #slideshow__swiper{{ sectionId }} .banner__media {
      min-height: var(--slideshow-content-height);
    }
  {%- endif -%}

  @media only screen and (max-width: 749px) {
    #slideshow__swiper{{ sectionId }} .banner__media {
      min-height: calc(var(--slideshow-content-height) + 10rem);
      padding-bottom: 0;
    }
  }
{%- endstyle -%}

{%- render 'separator-top', section: section -%}

<div id="{{ section.settings.section_id }}"
  class="color-{{ section.settings.color_palette }} section-{{ section.id }}-padding{% if section.settings.enable_cut_bg_color or bgImage != blank or bgImageMobile != blank %} cut-colored-section{% endif %}"
  data-section-id="{{ section.id }}"
>
  <div class="slideshow container container--{{ section.settings.layout_width }}">
    {%- liquid
      for block in section.blocks
        if block.type == "picto"
          render "pictogram", block: block
        endif
      endfor
    -%}
    
    <div
      id="slideshow__swiper{{ sectionId }}"
      class="swiper swiper_no_pagination slideshow__swiper"
      {% render 'swiper-data-editor', numberOfSlides: section.blocks.size %}
    >
      <style>
      {%- for block in section.blocks -%}
        #block-{{ block.id }}::after {
          content: "";
          display: block;
          position: absolute;
          top: 0; left: 0; right: 0; bottom: 0;
          background: rgba(var(--color-{{ block.settings.image_overlay_color }}), {{ block.settings.image_overlay_opacity | divided_by: 100.0 }});
          {% if block.settings.image_overlay_opacity == 0 %}
            display: none;
          {% endif %}
        }
      {%- endfor -%}
      </style>
      
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide slideshow__slide" {{ block.shopify_attributes }}>
            <div
              id="block-{{ block.id }}"
              class="
                banner__media banner__media--{{ section.settings.height }} banner__media--desktop banner__media--{{ block.id }}
                {% if block.settings.image != blank or block.settings.video_link != blank %}
                  media{% if block.settings.video_link != blank %}--video{% endif %}
                {% else %} banner__placeholder placeholder{% endif %}
              "
            >
              {%- if block.settings.image != blank -%}
                {% assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio %}
                {{ block.settings.image
                  | image_url: width: 3840
                  | image_tag: loading: "lazy", width: block.settings.image.width, height: image_height, class: 'media--image media--desktop', sizes: '100vw', widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                }}
              {%- else -%}
                {%- if block.settings.media_type == 'image' or block.settings.video_link == blank -%}
                  {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              {%- endif -%}

            </div>
            <div
              id="block-{{ block.id }}"
              class="
                banner__media banner__media--{{ section.settings.height }} banner__media--mobile
                {% if block.settings.image != blank or block.settings.video_link != blank %}
                  media
                {% else %} banner__placeholder placeholder{% endif %}
              "
            >
              {%- if block.settings.image_mobile != blank -%}
                {{ block.settings.image_mobile
                  | image_url: width: 1500
                  | image_tag: loading: lazy, class: 'media--image media--mobile', widths: '165, 360, 535, 750'
                }}
              {%- endif -%}
            </div>
  
            <div
              id="slideshow__content-{{ section.id }}"
              class="
                banner__content content-container color-{{ section.settings.color_palette }}
                banner__content--{{ section.settings.desktop_content_position }}
                banner__content--{{ block.settings.text_color }}
              "
            >
              {%- if block.settings.heading != blank -%}
                {%-
                  render "heading",
                  enable_animations: section.settings.enable_animations,
                  animation: section.settings.animation,
                  subheading: block.settings.subheading,
                  heading: block.settings.heading,
                  heading_class: "banner__heading",
                  heading_style: block.settings.heading_style,
                -%}
              {%- endif -%}

              {%- if block.settings.description != blank -%}
                <div
                  class="image-with-text__text rte"
                  {%- render 'animation',
                    enable_animations: section.settings.enable_animations,
                    animation: section.settings.animation
                  -%}
                >
                  {{ block.settings.description }}
                </div>
              {%- endif -%}

              {%- if block.settings.button_text != blank -%}
                <div
                  class="banner__content-buttons"
                  {%- render 'animation',
                    enable_animations: section.settings.enable_animations,
                    animation: section.settings.animation
                  -%}
                >
                  <a
                    href="{{ block.settings.button_link }}"
                    class="button button__style--{{ block.settings.button_style }}"
                  >
                    {{ block.settings.button_text | escape }}
                  </a>
                  {%- if block.settings.button_text_secondary != blank
                    and block.settings.button_link_secondary != blank
                  -%}
                    <a
                      href="{{ block.settings.button_link_secondary }}"
                      class="button button__style--{{ block.settings.button_style_secondary }}"
                    >
                      {{ block.settings.button_text_secondary | escape }}
                    </a>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
      {%- assign swiperEl = "'#slideshow__swiper" | append: sectionId | append: "'" -%}
      {%- capture swiperOptions -%}
        loop: true,
        mousewheel: { forceToAxis: true },
        spaceBetween: {{ settings.spacing_grid_horizontal | json }},
        slidesPerView: 1,
        autoHeight: true,
        autoplay: {
          pauseOnMouseEnter: true,
          enabled: {{ section.settings.autoplay | json }},
          delay: {{ section.settings.speed | times: 1000 | json }}
        },
      {%- endcapture -%}
      {% render 'swiper-theme-editor', sectionId: sectionId, swiperVariant: 'slideshowSwiper', swiperEl: swiperEl, swiperOptions: swiperOptions, navigation: section.settings.navigation, pagination: section.settings.pagination %}
    </div>
  </div>
</div>

<script>
  
  const slideshow = document.querySelector('.banner__content');
  document.documentElement.style.setProperty('--slideshow-content-height', `${slideshow.offsetHeight + 100}px`);

</script>

{%- render 'separator-bottom', section: section -%}

{% schema %}
{
  "name": "t:sections.slideshow.name",
  "tag": "section",
  "class": "section section-banner",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "t:sections.global.section_id"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.banner.settings.height.options.adapt"
        },
        {
          "value": "one_third",
          "label": "t:sections.banner.settings.height.options.one_third"
        },
        {
          "value": "one_half",
          "label": "t:sections.banner.settings.height.options.one_half"
        },
        {
          "value": "two_thirds",
          "label": "t:sections.banner.settings.height.options.two_thirds"
        },
        {
          "value": "full",
          "label": "t:sections.banner.settings.height.options.full"
        }
      ],
      "default": "adapt",
      "label": "t:sections.banner.settings.height.label"
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.headers.slider_settings"
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "t:sections.slideshow.settings.show_dots.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "navigation",
      "label": "t:sections.reviews.navigation.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "pagination",
      "label": "t:sections.reviews.pagination.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": true
    },
    {
      "type": "range",
      "id": "speed",
      "min": 3,
      "max": 9,
      "step": 1,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "t:sections.global.lazy.label",
      "default": true
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top_left",
          "label": "t:sections.banner.settings.desktop_content_position.options.top_left"
        },
        {
          "value": "middle_left",
          "label": "t:sections.banner.settings.desktop_content_position.options.middle_left"
        },
        {
          "value": "bottom_left",
          "label": "t:sections.banner.settings.desktop_content_position.options.bottom_left"
        },
        {
          "value": "top",
          "label": "t:sections.banner.settings.desktop_content_position.options.top"
        },
        {
          "value": "middle",
          "label": "t:sections.banner.settings.desktop_content_position.options.middle"
        },
        {
          "value": "bottom",
          "label": "t:sections.banner.settings.desktop_content_position.options.bottom"
        },
        {
          "value": "top_right",
          "label": "t:sections.banner.settings.desktop_content_position.options.top_right"
        },
        {
          "value": "middle_right",
          "label": "t:sections.banner.settings.desktop_content_position.options.middle_right"
        },
        {
          "value": "bottom_right",
          "label": "t:sections.banner.settings.desktop_content_position.options.bottom_right"
        }
      ],
      "default": "top",
      "label": "t:sections.banner.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "content_background_behavior",
      "options": [
        {
          "value": "transparent",
          "label": "t:sections.banner.settings.content_background_behavior.options.transparent"
        },
        {
          "value": "blur",
          "label": "t:sections.banner.settings.content_background_behavior.options.blur"
        },
        {
          "value": "translucid",
          "label": "t:sections.banner.settings.content_background_behavior.options.translucid"
        },
        {
          "value": "solid",
          "label": "t:sections.banner.settings.content_background_behavior.options.solid"
        }
      ],
      "default": "transparent",
      "label": "t:sections.banner.settings.content_background_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.animations"
    },
    {
      "type": "checkbox",
      "id": "enable_animations",
      "label": "t:sections.global.animation.enable",
      "default": true
    },
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "fade-up",
          "label": "t:sections.global.animation.options.fade_up"
        },
        {
          "value": "fade-down",
          "label": "t:sections.global.animation.options.fade_down"
        },
        {
          "value": "fade-right",
          "label": "t:sections.global.animation.options.fade_right"
        },
        {
          "value": "fade-left",
          "label": "t:sections.global.animation.options.fade_left"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.global.animation.options.zoom_in"
        },
        {
          "value": "zoom-out",
          "label": "t:sections.global.animation.options.zoom_out"
        }
      ],
      "default": "fade-up",
      "label": "t:sections.global.animation.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.layout"
    },
    {
      "type": "checkbox",
      "id": "hide_desktop",
      "label": "t:sections.global.hide_desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "t:sections.global.hide_mobile",
      "default": false
    },
    {
      "type": "select",
      "id": "layout_width",
      "options": [
        {
          "value": "narrow",
          "label": "t:sections.global.layout_width.options.page_width_narrow"
        },
        {
          "value": "normal",
          "label": "t:sections.global.layout_width.options.page_width"
        },
        {
          "value": "full-padded",
          "label": "t:sections.global.layout_width.options.full_width_padded"
        },
        {
          "value": "full",
          "label": "t:sections.global.layout_width.options.full_width"
        }
      ],
      "default": "full",
      "label": "t:sections.global.layout_width.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top.label",
      "default": 0,
      "visible_if": "{{ section.settings.hide_desktop == false }}"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom.label",
      "default": 0,
      "visible_if": "{{ section.settings.hide_desktop == false }}"
    },
    {
      "type": "range",
      "id": "padding_top_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top_sm.label",
      "default": 0,
      "visible_if": "{{ section.settings.hide_mobile == false }}"
    },
    {
      "type": "range",
      "id": "padding_bottom_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom_sm.label",
      "default": 0,
      "visible_if": "{{ section.settings.hide_mobile == false }}"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_palette",
      "default": "background",
      "label": "t:sections.global.colors_palette.label"
    },
    {
      "type": "image_picker",
      "id": "image_bg_colored",
      "label": "t:sections.global.cut_bg_color.image_bg_colored"
    },
    {
      "type": "image_picker",
      "id": "image_bg_colored_mobile",
      "label": "t:sections.global.cut_bg_color.image_bg_colored_mobile"
    },
    {
      "type": "checkbox",
      "id": "enable_cut_bg_color",
      "default": false,
      "label": "t:sections.global.cut_bg_color.enable_cut_bg_color"
    },
    {
      "type": "color",
      "id": "cut_bg_color",
      "default": "#F6F6F6",
      "label": "t:sections.global.cut_bg_color.cut_bg_color",
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_vertical",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_vertical",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_vertical_mobile",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_vertical_mobile",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_horizontal",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_horizontal",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "range",
      "id": "cut_bg_color_horizontal_mobile",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_horizontal_mobile",
      "default": 0,
      "visible_if": "{{ section.settings.enable_cut_bg_color }}"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.separators"
    },
    {
      "type": "select",
      "id": "separator_top",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.top"
    },
    {
      "type": "checkbox",
      "id": "separator_top_invert",
      "label": "t:sections.global.separators.invert",
      "default": false,
      "visible_if": "{{ section.settings.separator_top != 'none' }}"
    },
    {
      "type": "select",
      "id": "separator_bottom",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.bottom"
    },
    {
      "type": "checkbox",
      "id": "separator_bottom_invert",
      "label": "t:sections.global.separators.invert",
      "default": false,
      "visible_if": "{{ section.settings.separator_bottom != 'none' }}"
    },
    {
      "type": "checkbox",
      "id": "separator_animated",
      "label": "t:sections.global.separators.animated",
      "default": false,
      "visible_if": "{{ section.settings.separator_top != 'none' or section.settings.separator_bottom != 'none' }}"
    },
    {
      "type": "color",
      "id": "separator_bg_color",
      "label": "t:sections.global.separators.bg_color",
      "visible_if": "{{ section.settings.separator_top != 'none' or section.settings.separator_bottom != 'none' }}"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label_mobile"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:sections.slideshow.blocks.slide.settings.image_overlay_opacity.label",
          "default": 10
        },
        {
          "type": "select",
          "id": "image_overlay_color",
          "options": [
              {
                "value": "foreground",
                "label": "t:sections.image-banner.settings.image_overlay_color.options.title"
              },
              {
                "value": "foreground-secondary",
                "label": "t:sections.image-banner.settings.image_overlay_color.options.text"
              },
              {
                "value": "accent-1",
                "label": "t:sections.image-banner.settings.image_overlay_color.options.accent_1"
              },
              {
                "value": "accent-2",
                "label": "t:sections.image-banner.settings.image_overlay_color.options.accent_2"
              },
              {
                "value": "background",
                "label": "t:sections.image-banner.settings.image_overlay_color.options.background"
              },
              {
                "value": "background-secondary",
                "label": "t:sections.image-banner.settings.image_overlay_color.options.background_secondary"
              }
          ],
          "label": "t:sections.image-banner.settings.image_overlay_color.label",
          "default": "foreground"
        },
        {
          "type": "select",
          "id": "text_color",
          "options": [
            {
              "value": "text",
              "label": "t:sections.banner.settings.text_color.options.text"
            },
            {
              "value": "background",
              "label": "t:sections.banner.settings.text_color.options.background"
            }
          ],
          "label": "t:sections.banner.settings.text_color.label",
          "default": "background"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.global.subheading.label",
          "default": "Details"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.global.heading.label",
          "default": "Hear from our lovely customers"
        },
        {
          "type": "select",
          "id": "heading_style",
          "options": [
            {
              "value": "1",
              "label": "t:sections.global.style.options.1"
            },
            {
              "value": "2",
              "label": "t:sections.global.style.options.2"
            },
            {
              "value": "3",
              "label": "t:sections.global.style.options.3"
            }
          ],
          "default": "1",
          "label": "t:sections.global.style.heading",
          "visible_if": "{{ section.settings.heading != blank }}"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.global.description.label",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.global.button_text.label",
          "default": "Discover"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.global.button_link.label",
          "visible_if": "{{ block.settings.button_text != blank }}"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "1",
              "label": "t:sections.global.style.options.1"
            },
            {
              "value": "2",
              "label": "t:sections.global.style.options.2"
            },
            {
              "value": "3",
              "label": "t:sections.global.style.options.3"
            }
          ],
          "default": "2",
          "label": "t:sections.global.style.button",
          "visible_if": "{{ block.settings.button_text != blank }}"
        },
        {
          "type": "text",
          "id": "button_text_secondary",
          "label": "t:sections.global.button_text_secondary.label",
          "default": "Discover"
        },
        {
          "type": "url",
          "id": "button_link_secondary",
          "label": "t:sections.global.button_link_secondary.label",
          "visible_if": "{{ block.settings.button_text_secondary != blank }}"
        },
        {
          "type": "select",
          "id": "button_style_secondary",
          "options": [
            {
              "value": "1",
              "label": "t:sections.global.style.options.1"
            },
            {
              "value": "2",
              "label": "t:sections.global.style.options.2"
            },
            {
              "value": "3",
              "label": "t:sections.global.style.options.3"
            }
          ],
          "default": "3",
          "label": "t:sections.global.style.button_secondary",
          "visible_if": "{{ block.settings.button_text_secondary != blank }}"
        }
      ]
    },
    {
      "type": "picto",
      "name": "t:sections.global.picto.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.global.picto.image"
        },
        {
          "type": "header",
          "content": "t:sections.global.picto.headers.top_left"
        },
        {
          "type": "range",
          "id": "top",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.top",
          "default": 36
        },
        {
          "type": "range",
          "id": "left",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.left",
          "default": 36
        },
        {
          "type": "range",
          "id": "top_mobile",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.top_mobile",
          "default": 36
        },
        {
          "type": "range",
          "id": "left_mobile",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.left_mobile",
          "default": 36
        },
        {
          "type": "header",
          "content": "t:sections.global.picto.headers.rotate"
        },
        {
          "type": "range",
          "id": "rotate",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "deg",
          "label": "t:sections.global.picto.rotate",
          "default": 0
        },
        {
          "type": "range",
          "id": "rotate_mobile",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "deg",
          "label": "t:sections.global.picto.rotate_mobile",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:sections.global.picto.headers.width"
        },
        {
          "type": "range",
          "id": "width",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "px",
          "label": "t:sections.global.picto.width",
          "default": 72
        },
        {
          "type": "range",
          "id": "width_mobile",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "px",
          "label": "t:sections.global.picto.width_mobile",
          "default": 72
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.presets.name",
      "category": "t:categories.media_text",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
