{{ 'component-ugc.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign sectionId = section.id | remove: '-'
  assign enable_animations = section.settings.enable_animations
  assign animation = section.settings.animation

  if section.settings.preshot_swiper
    assign slidesPerViewDesktop = section.settings.slides_on_desktop | plus: 0.4
    assign slidesPerViewTablet = section.settings.slides_on_tablet | plus: 0.4
    assign slidesPerViewMobile = section.settings.slides_on_mobile | plus: 0.4
  else
    assign slidesPerViewDesktop = section.settings.slides_on_desktop
    assign slidesPerViewTablet = section.settings.slides_on_tablet
    assign slidesPerViewMobile = section.settings.slides_on_mobile
  endif
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_sm }}px;
    padding-bottom: {{ section.settings.padding_bottom_sm }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- for block in section.blocks -%}
  {% comment %} Popup {% endcomment %}
  <div class="ugc__popup" id="ugc_{{ block.id }}_{{ section.id }}">
    <div class="ugc__video-wrapper{% if section.settings.type__video == "177.78%" %} ugc__video-wrapper--vertical{% endif %}">
      <span class="popup-video__closer">{%- render 'icon-close' -%}</span>
      <div class="ugc__video-container" style="padding-bottom: {{ section.settings.type__video }};">
        {%- assign player_id = "player_" | append: block.id | append: "_" | append: section.id -%}
        {%- if block.settings.video != blank -%}
          {{
            block.settings.video
            | video_tag:
              id: player_id,
              class: "js-custom",
              image_size: '1100x',
              autoplay: false,
              loop: section.settings.enable_video_looping,
              controls: true,
              muted: false
          }}
        {%- elsif block.settings.video_url != blank -%}
          {%- assign video_id = block.settings.video_url.id -%}
          
          {%- if block.settings.video_url.type == 'youtube' -%}
            <iframe
              id="{{ player_id }}"
              src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1"
              class="js-youtube"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ block.settings.description | escape }}"
            ></iframe>
          {%- else -%}
            <iframe
              id="{{ player_id }}"
              src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1"
              class="js-vimeo"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ block.settings.description | escape }}"
            ></iframe>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endfor -%}

{%- render 'separator-top', section: section -%}

<div
  class="color-{{ section.settings.color_palette }} section-{{ section.id }}-padding ugc__alignement--{{ section.settings.alignment }}"
  data-section-id="{{ section.id }}"
>
  <div class="container container--{{ section.settings.layout_width }}">
    {%- liquid
      for block in section.blocks
        if block.type == "picto"
          render "pictogram", block: block
        endif
      endfor
    -%}
    
    <div class="ugc__wrapper">
      {%- if section.settings.heading != blank -%}
        {%- render 'heading',
          alignment: section.settings.alignment,
          enable_animations: section.settings.enable_animations,
          animation: section.settings.animation,
          subheading: section.settings.subheading,
          heading: section.settings.heading,
          description: section.settings.description,
          heading_class: 'video__heading',
          heading_style: section.settings.heading_style
        -%}
      {%- endif -%}

      <div
        id="ugc__{{ sectionId }}"
        class="swiper swiper_no_pagination ugc__swiper"
        {% render 'swiper-data-editor' %}
      >
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            <div
              class="swiper-slide ugc__slide"
              {%- render 'animation', enable_animations: enable_animations, animation: animation -%}
              {{ block.shopify_attributes }}
            >
              <div class="ugc__item">
                {%- if block.settings.video != blank or block.settings.video_url != blank -%}
                  <popup-video class="ugc__button">
                    <div class="popup-video__opener" data-popup="ugc_{{ block.id }}_{{ section.id }}" data-player="player_{{ block.id }}_{{ section.id }}" data-thumbnail="thumb_player_{{ block.id }}_{{ section.id }}">
                      {%- assign player_id = "thumb_player_" | append: block.id | append: "_" | append: section.id -%}
                      {%- if block.settings.video != blank -%}
                        {{
                          block.settings.video
                          | video_tag:
                            id: player_id,
                            class: "js-custom ugc_thumbnail_video",
                            image_size: '1100x',
                            autoplay: false,
                            controls: false,
                            muted: true
                        }}
                      {%- elsif block.settings.video_url != blank -%}
                        {%- assign video_id = block.settings.video_url.id -%}
                        {%- if block.settings.video_url.type == 'youtube' -%}
                          <iframe
                            id="{{ player_id }}"
                            src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=0&controls=0&showinfo=0&mute=1"
                            class="js-youtube"
                            allow="encrypted-media"
                            allowfullscreen
                            title="{{ block.settings.description | escape }}"
                          ></iframe>
                        {%- else -%}
                          <iframe
                            id="{{ player_id }}"
                            src="https://player.vimeo.com/video/{{ video_id }}?autoplay=0&controls=0&title=0&byline=0&portrait=0&muted=1"
                            class="js-vimeo"
                            allow="encrypted-media"
                            allowfullscreen
                            title="{{ block.settings.description | escape }}"
                          ></iframe>
                        {%- endif -%}
                      {%- endif -%}
                      <div class="ugc__controls">
                        {%- render 'icon-play' -%}
                        {%- render 'icon-resize' -%}
                      </div>
                    </div>
                    <p class="ugc__name">{{ block.settings.title }}</p>
                  </popup-video>
                {%- else -%}
                  <p class="placeholder__text">Choose a video to show</p>
                {%- endif -%}
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>

      {%- liquid
        assign swiperAutoplayDelay = section.settings.speed | times: 1000
        assign swiperAutoplay = 'autoplay: { pauseOnMouseEnter: true, enabled: ' | append: section.settings.autoplay | append: ', delay:' | append: swiperAutoplayDelay | append: '},'
        assign swiperEl = "'#ugc__" | append: sectionId | append: "'"
        if section.settings.loop and settings.swiper_pagination_style == "none"
          assign swiperLoop = "loop: true"
        else
          assign swiperLoop = "loop: false"
        endif
        assign swiperOptions = swiperLoop | append: ",mousewheel:{forceToAxis:true},spaceBetween:" | append: settings.spacing_grid_horizontal | append: ",slidesPerView:" | append: slidesPerViewMobile | append: ",autoHeight:true," | append: swiperAutoplay | append: "breakpoints:{750:{slidesPerView:" | append: slidesPerViewTablet | append: ",},1150:{slidesPerView:" | append: slidesPerViewDesktop | append: ",}},"
        render 'swiper-theme-editor', sectionId: sectionId, swiperVariant: 'ugc__', swiperEl: swiperEl, swiperOptions: swiperOptions, navigation: section.settings.navigation, pagination: section.settings.pagination
      -%}
    </div>
  </div>
</div>

{%- render 'separator-bottom', section: section -%}

{% schema %}
{
  "name": "UGC",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.global.heading.label"
    },
    {
      "type": "select",
      "id": "heading_style",
      "options": [
        {
          "value": "1",
          "label": "t:sections.global.style.options.1"
        },
        {
          "value": "2",
          "label": "t:sections.global.style.options.2"
        },
        {
          "value": "3",
          "label": "t:sections.global.style.options.3"
        }
      ],
      "default": "2",
      "label": "t:sections.global.style.heading"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "t:sections.global.description.label"
    },
    {
      "type": "select",
      "id": "alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "type__video",
      "options": [
        {
          "value": "56.25%",
          "label": "t:sections.stories.type__video.options.horizontal"
        },
        {
          "value": "100%",
          "label": "t:sections.stories.type__video.options.square"
        },
        {
          "value": "177.78%",
          "label": "t:sections.stories.type__video.options.vertical"
        }
      ],
      "default": "100%",
      "label": "t:sections.stories.type__video.label"
    },
    {
      "type": "checkbox",
      "id": "accent__gradient",
      "label": "t:sections.stories.accent__gradient.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.reviews.headers.layout"
    },
    {
      "type": "range",
      "id": "slides_on_desktop",
      "min": 2,
      "max": 7,
      "step": 1,
      "unit": "itm",
      "label": "t:sections.reviews.slides_on_desktop.label",
      "default": 4
    },
    {
      "type": "range",
      "id": "slides_on_tablet",
      "min": 1,
      "max": 6,
      "step": 1,
      "unit": "itm",
      "label": "t:sections.reviews.slides_on_tablet.label",
      "default": 3
    },
    {
      "type": "range",
      "id": "slides_on_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "unit": "itm",
      "label": "t:sections.reviews.slides_on_mobile.label",
      "default": 1
    },
    {
      "type": "header",
      "content": "t:sections.reviews.headers.slider_settings"
    },
    {
      "type": "checkbox",
      "id": "preshot_swiper",
      "label": "t:sections.reviews.preshot.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "t:sections.reviews.loop.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "navigation",
      "label": "t:sections.reviews.navigation.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "pagination",
      "label": "t:sections.reviews.pagination.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": true
    },
    {
      "type": "range",
      "id": "speed",
      "min": 3,
      "max": 9,
      "step": 1,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 4
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.animations"
    },
    {
      "type": "checkbox",
      "id": "enable_animations",
      "label": "t:sections.global.animation.enable",
      "default": true
    },
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "fade-up",
          "label": "t:sections.global.animation.options.fade_up"
        },
        {
          "value": "fade-down",
          "label": "t:sections.global.animation.options.fade_down"
        },
        {
          "value": "fade-right",
          "label": "t:sections.global.animation.options.fade_right"
        },
        {
          "value": "fade-left",
          "label": "t:sections.global.animation.options.fade_left"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.global.animation.options.zoom_in"
        },
        {
          "value": "zoom-out",
          "label": "t:sections.global.animation.options.zoom_out"
        }
      ],
      "default": "fade-up",
      "label": "t:sections.global.animation.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.layout"
    },
    {
      "type": "select",
      "id": "layout_width",
      "options": [
        {
          "value": "narrow",
          "label": "t:sections.global.layout_width.options.page_width_narrow"
        },
        {
          "value": "normal",
          "label": "t:sections.global.layout_width.options.page_width"
        },
        {
          "value": "full-padded",
          "label": "t:sections.global.layout_width.options.full_width_padded"
        },
        {
          "value": "full",
          "label": "t:sections.global.layout_width.options.full_width"
        }
      ],
      "default": "full",
      "label": "t:sections.global.layout_width.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom.label",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_top_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top_sm.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom_sm.label",
      "default": 32
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_palette",
      "default": "background",
      "label": "t:sections.global.colors_palette.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.separators"
    },
    {
      "type": "select",
      "id": "separator_top",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.top"
    },
    {
      "type": "select",
      "id": "separator_bottom",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.bottom"
    },
    {
      "type": "checkbox",
      "id": "separator_animated",
      "label": "t:sections.global.separators.animated",
      "default": false
    },
    {
      "type": "color",
      "id": "separator_bg_color",
      "label": "t:sections.global.separators.bg_color"
    }
  ],
  "blocks": [
    {
      "type": "ugc",
      "name": "Bloc UGC",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Heading for the video"
        }
      ]
    },
    {
      "type": "picto",
      "name": "t:sections.global.picto.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.global.picto.image"
        },
        {
          "type": "header",
          "content": "t:sections.global.picto.headers.top_left"
        },
        {
          "type": "range",
          "id": "top",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.top",
          "default": 36
        },
        {
          "type": "range",
          "id": "left",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.left",
          "default": 36
        },
        {
          "type": "range",
          "id": "top_mobile",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.top_mobile",
          "default": 36
        },
        {
          "type": "range",
          "id": "left_mobile",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.left_mobile",
          "default": 36
        },
        {
          "type": "header",
          "content": "t:sections.global.picto.headers.rotate"
        },
        {
          "type": "range",
          "id": "rotate",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "deg",
          "label": "t:sections.global.picto.rotate",
          "default": 0
        },
        {
          "type": "range",
          "id": "rotate_mobile",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "deg",
          "label": "t:sections.global.picto.rotate_mobile",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:sections.global.picto.headers.width"
        },
        {
          "type": "range",
          "id": "width",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "px",
          "label": "t:sections.global.picto.width",
          "default": 72
        },
        {
          "type": "range",
          "id": "width_mobile",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "px",
          "label": "t:sections.global.picto.width_mobile",
          "default": 72
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "UGC",
      "blocks": [
        { "type": "ugc" },
        { "type": "ugc" },
        { "type": "ugc" },
        { "type": "ugc" }
      ]
    }
  ]
}
{% endschema %}
